.aboutUs {
  @include block();
  background-color: $color_blueLight_2;

  &:after {
    @include position(absolute, 0, -40px, 100%, 40px);
    box-shadow: 0px 12px 24px rgba(197, 228, 243, 0.4);
    content: '';
  }

  .row {
    min-height: 872px;
    align-items: center;

    @include mobile($screen_lg) {
      min-height: 750px;
    }

    @include mobile($screen_md) {
      display: block;
      min-height: auto;
    }
  }

  .col {

    &:nth-child(1) {
      @include mobile($screen_md) {
        padding-top: 60px;
      }
    }

    &:nth-child(2) {
      @include mobile($screen_lg) {
        padding-left: 40px;
      }

      @include mobile($screen_md) {
        padding: 30px 0 80px 0;
      }
    }
  }

  .textBox {
    left: 30px;
    padding-bottom: 47px;

    @include desktop($screen_md) {
      h1 {
        transform: translateY(50px);
        transition: all 0.8s;
        opacity: 0;
      }
  
      p {
        transform: translateY(30px);
        transition: all 0.8s;
        transition-delay: 0.3s;
        opacity: 0;
      }

      &.active {
        h1 {
          transform: translateY(0);
          opacity: 1;
        }
        p {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }

    @include mobile($screen_lg) {
      left: 0;
      padding-top: 0;
    }

    @include mobile($screen_md) {
      text-align: center;
    }
  }

  &__img {
    @include block();
    top: 0;
    left: -148px;
    width: 532px;
    height: 522px;

    @include mobile($screen_xl) {
      left: -70px;
    }

    @include mobile($screen_lg) {
      top: 0;
      left: 0;
      width: 480px;
      height: 470px;
    }

    @include mobile($screen_md) {
      margin: 0 auto;
    }

    @include mobile($screen_sm) {
      width: 310px;
      height: 300px;
    }

    span {
      @include position(absolute, 0, 0, 100%, 100%);
      transition: transform 0.8s, opacity 1s;

      @include mobile($screen_md) {
        transform: translate3d(0, 0, 0) !important;
        opacity: 1 !important;
      }

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        transition: transform 0.15s;

        @include mobile($screen_md) {
          transform: translate3d(0, 0, 0) translate(0, 0) !important;
        }
      }

      &:nth-child(1) {
        transform: translate(0, 0) scale(0.7);
        transition-delay: 0s;
        opacity: 0;

        i {
          @include image('about-us/element-1.svg', contain, center);
        }
      }
      &:nth-child(2) {
        transform: translate(0, 0) scale(0.7);
        transition-delay: 0.1s;
        opacity: 0;

        i {
          @include image('about-us/element-2.svg', contain, center);
        }
      }
      &:nth-child(3) {
        transform: translate(0, 0) scale(0.7);
        transition-delay: 0.15s;
        opacity: 0;

        i {
          @include image('about-us/element-3.svg', contain, center);
        }
      }
      &:nth-child(4) {
        transform: translate(30px, 40px);
        transition-delay: 0.25s;
        opacity: 0;

        i {
          @include image('about-us/element-4.svg', contain, center);
        }
      }
      &:nth-child(5) {
        transform: translate(-30px, -30px);
        transition-delay: 0.3s;
        opacity: 0;

        i {
          @include image('about-us/element-5.svg', contain, center);
        }
      }
      &:nth-child(6) {
        transform: translate(10px, -30px);
        transition-delay: 0.3s;
        opacity: 0;

        i {
          @include image('about-us/element-6.svg', contain, center);
        }
      }
      &:nth-child(7) {
        transform: translate(40px, 0);
        transition-delay: 0.35s;
        opacity: 0;

        i {
          @include image('about-us/element-7.svg', contain, center);
        }
      }
      &:nth-child(8) {
        transform: translate(20px, -25px);
        transition-delay: 0.4s;
        opacity: 0;

        i {
          @include image('about-us/element-8.svg', contain, center);
        }
      }
    }

    &.active {
      span {
        transform: translate(0, 0) scale(1);
        opacity: 1;
      }
    }
  }

  &__circles {
    position: absolute;
    top: 800px;
    left: 50%;
    width: 262px;
    height: 442px;
    margin-left: 730px;

    @include mobile($screen_md) {
      top: auto;
      left: auto;
      right: -90px;
      bottom: -120px;
      width: 140px;
      height: 160px;
      margin-left: 0;
    }

    span {
      @include position(absolute, 0, 0, 100%, 100%);

      @include mobile($screen_md) {
        transform: translate3d(0, 0, 0) !important;
      }

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        transition: transform 0.15s;

        @include mobile($screen_md) {
          transform: translate3d(0, 0, 0) translate(0, 0) !important;
        }
      }

      &:nth-child(1) {
        i {
          @include image('about-us/circles-1.svg', contain, 0 0);
        }
      }
      &:nth-child(2) {
        top: 55px;
        left: 5px;

        @include mobile($screen_md) {
          top: 0;
          left: 0;
        }

        i {
          @include image('about-us/circles-2.svg', contain, 0 0);
        }
      }
    }
  }
}
