.acs {
  @include block();

  .container {
    max-width: 1168px;
    min-height: 872px;
    padding-top: 163px;

    @include mobile($screen_lg) {
      padding-top: 120px;
      min-height: 800px;
    }

    @include mobile($screen_md) {
      padding-top: 60px;
    }
  }

  .col {
    flex: none;
    width: 50%;

    @include mobile($screen_md) {
      width: auto;
    }

    &:nth-child(1) {
      order: 1;

      @include mobile($screen_md) {
        order: 0;
      }
    }

    &:nth-child(2) {
      order: 0;

      @include mobile($screen_md) {
        order: 1;
      }
    }
  }

  .textBox {
    padding-right: 20px;

    h1 {
      transform: translateY(50px);
      transition: all 0.8s;
      opacity: 0;
    }

    p {
      transform: translateY(30px);
      transition: all 0.8s;
      transition-delay: 0.3s;
      opacity: 0;
    }

    &.active {
      h1 {
        transform: translateY(0);
        opacity: 1;
      }
      p {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10000px;
    height: 100%;
    margin-left: 231px;
    overflow: hidden;
    
    @include mobile($screen_md) {
      display: none;
    }

    span {
      @include position(absolute, -50px, 130px, 100%, 100%);
      overflow: hidden;

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        transition: transform 0.15s;
      }

      &:nth-child(1) {
        background-color: $color_blueLight_2;

        i {
          @include image('acs/mask-1.svg', auto 100%, -390px 0);
        }
      }
      &:nth-child(2) {
        i {
          @include image('acs/mask-2.svg', auto 100%, -390px 0);
        }
      }
      &:nth-child(3) {
        i {
          @include image('acs/mask-3.svg', auto 100%, -390px 0);
        }
      }
      &:nth-child(4) {
        i {
          @include image('acs/mask-4.svg', auto 100%, -390px 0);
        }
      }
      &:nth-child(5) {
        i {
          @include image('acs/mask-5.svg', auto 100%, -390px 0);
        }
      }
      &:nth-child(6) {
        i {
          @include image('acs/mask-6.svg', auto 100%, -390px 0);
        }
      }
    }
  }

  &__circles {
    position: absolute;
    top: 800px;
    left: 50%;
    width: 296px;
    height: 448px;
    margin-left: -1114px;

    @include mobile($screen_xl) {
      margin-left: -880px;
    }

    @include mobile($screen_lg) {
      display: none;
    }

    span {
      @include position(absolute, 0, 0, 100%, 100%);

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        transition: transform 0.15s;
      }

      &:nth-child(1) {
        i {
          @include image('acs/circles-1.svg', contain, 0 0);
        }
      }
      &:nth-child(2) {
        i {
          @include image('acs/circles-2.svg', contain, 0 0);
        }
      }
    }
  }

  &__laptop {
    @include block();
    @include image('acs/laptop.svg', contain, 0 0);
    width: 854px;
    height: 585px;
    margin: 27px 0 0 31px;

    @include mobile($screen_lg) {
      width: 780px;
      height: 500px;
    }

    @include mobile($screen_md) {
      width: 100%;
      max-width: 700px;
      height: 0;
      padding-bottom: 48%;
      margin: 0 auto;
      background-position: top;
    }

    @include mobile($screen_sm) {
      padding-bottom: 68%;
    }
  }

  &__play {
    position: absolute;
    top: 189px;
    left: 61px;

    @include mobile($screen_lg) {
      left: 74px;
    }

    @include mobile($screen_md) {
      top: 50%;
      left: 50%;
      margin: -70px 0 0 -30px;
    }
  } 
}
