.acs {
  @include block();

  &:after {
    @include position(absolute, 0, -40px, 100%, 40px);
    box-shadow: 0px 12px 24px rgba(197, 228, 243, 0.4);
    content: '';

    @include mobile($screen_md) {
      display: none;
    }
  }

  .container {
    max-width: 1168px;
    min-height: 872px;
    padding-top: 163px;

    @include mobile($screen_lg) {
      padding-top: 120px;
      min-height: 800px;
    }

    @include mobile($screen_md) {
      padding-top: 20px;
    }
  }

  .row {
    @include mobile($screen_md) {
      flex-wrap: wrap;
    }
  }

  .col {
    flex: none;
    width: 50%;

    &:nth-child(1) {
      order: 1;

      @include mobile($screen_xl) {
        width: 55%;
      }

      @include mobile($screen_lg) {
        width: 60%;
      }

      @include mobile($screen_md) {
        width: 100%;
      }

      .textBox {
        margin-top: 20px;

        @include mobile($screen_sm) {
          margin-top: 150px;
        }

        @include desktop($screen_md) {
          display: none;
        }

        p {
          text-align: center;
        }
      }
    }

    &:nth-child(2) {
      order: 0;

      @include mobile($screen_xl) {
        width: 45%;
      }

      @include mobile($screen_lg) {
        width: 40%;
      }

      @include mobile($screen_md) {
        width: 100%;
      }

      .textBox {
        padding-right: 20px;

        @include mobile($screen_md) {
          padding-right: 0;
    
          h1 {
            margin-bottom: 15px;
            text-align: center;
          }
    
          p {
            font-size: 12px;
            line-height: 20px;
            text-align: center;
          } 
        }

        @include desktop($screen_md) {
          h1 {
            transform: translateY(50px);
            transition: all 0.8s;
            opacity: 0;
          }
      
          p {
            transform: translateY(30px);
            transition: all 0.8s;
            transition-delay: 0.3s;
            opacity: 0;
          }
      
          &.active {
            h1 {
              transform: translateY(0);
              opacity: 1;
            }
            p {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10000px;
    height: 100%;
    margin-left: 231px;
    overflow: hidden;
    
    @include mobile($screen_md) {
      display: none;
    }

    span {
      @include position(absolute, -50px, 130px, 100%, 100%);
      overflow: hidden;

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        transition: transform 0.15s;
      }

      &:nth-child(1) {
        background-color: $color_blueLight_2;

        i {
          @include image('acs/mask-1.svg', auto 100%, -390px 0);
        }
      }
      &:nth-child(2) {
        i {
          @include image('acs/mask-2.svg', auto 100%, -390px 0);
        }
      }
      &:nth-child(3) {
        i {
          @include image('acs/mask-3.svg', auto 100%, -390px 0);
        }
      }
      &:nth-child(4) {
        i {
          @include image('acs/mask-4.svg', auto 100%, -390px 0);
        }
      }
      &:nth-child(5) {
        i {
          @include image('acs/mask-5.svg', auto 100%, -390px 0);
        }
      }
      &:nth-child(6) {
        i {
          @include image('acs/mask-6.svg', auto 100%, -390px 0);
        }
      }
    }
  }

  &__circles {
    position: absolute;
    top: 800px;
    left: 50%;
    width: 296px;
    height: 448px;
    margin-left: -1114px;

    @include mobile($screen_xl) {
      margin-left: -880px;
    }

    @include mobile($screen_md) {
      width: 150px;
      height: 250px;
      top: auto;
      bottom: -110px;
      left: -60px;
      margin-left: 0;
    }

    span {
      @include position(absolute, 0, 0, 100%, 100%);

      @include mobile($screen_md) {
        transform: translate3d(0, 0, 0) !important;
      }

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        transition: transform 0.15s;

        @include mobile($screen_md) {
          transform: translate3d(0, 0, 0) translate(0, 0) !important;
        }
      }

      &:nth-child(1) {
        i {
          @include image('acs/circles-1.svg', contain, 0 0);
        }
      }
      &:nth-child(2) {
        i {
          @include image('acs/circles-2.svg', contain, 0 0);
        }
      }
    }
  }

  &__fonMobile {
    position: absolute;
    top: 85px;
    left: -$padding_sides;
    right: -$padding_sides;

    @include desktop($screen_sm) {
      display: none;
    }

    img {
      @include block();
      width: 100%;
    }
  }

  &__laptop {
    @include block();
    width: 854px;
    height: 585px;
    margin-top: 27px;
    margin-left: 31px;

    @include mobile($screen_xl) {
      width: 700px;
      height: 480px;
      margin-top: 60px;
      margin-left: 25px;
    }

    @include mobile($screen_lg) {
      width: 650px;
      height: 450px;
      margin-left: 20px;
    }

    @include mobile($screen_md) {
      width: 700px;
      height: 480px;
      margin: 50px auto 0 auto;
    }

    @include mobile($screen_sm) {
      top: 70px;
      width: 100%;
      height: 0;
      padding-bottom: 68%;
    }

    &-cont {
      position: absolute;
      top: 28px;
      left: 85px;
      right: 85px;
      bottom: 168px;
      background-color: #fff;
      overflow: hidden;

      @include mobile($screen_xl) {
        top: 23px;
        left: 73px;
        right: 73px;
        bottom: 135px;
      }

      @include mobile($screen_lg) {
        top: 20px;
        left: 68px;
        right: 68px;
        bottom: 130px;
      }

      @include mobile($screen_md) {
        top: 25px;
        left: 70px;
        right: 70px;
        bottom: 138px;
      }

      @include mobile($screen_sm) {
        top: 1.5%;
        left: 10.6%;
        right: 10.6%;
        bottom: 25%;
      }
    }

    &-video {
      @include position(absolute, 0, 0, 100%, 100%);

      .vjs-tech {
        @include position(absolute, 0, 0, 100%, 100%);
      }

      * {
        &:not(.vjs-tech) {
          display: none;
        } 
      }

      background-color: #4184e0;
    }

    &:after {
      @include position(absolute, 0, 0, 100%, 100%);
      @include image('acs/laptop.png', contain, 0 0);
      content: '';
    }
  }

  &__play {
    position: absolute;
    top: 189px;
    left: 69px;

    @include mobile($screen_xl) {
      left: 48px;
    }

    @include mobile($screen_lg) {
      left: 35px;
    }

    @include mobile($screen_md) {
      top: 10px;
      left: 50%;
      margin-left: -54px;
    }
  } 
}
