.acs {
  @include block();

  .container {
    max-width: 1168px;
    min-height: 872px;
    padding-top: 163px;
  }

  .col {
    flex: none;
    width: 50%;
  }

  .textBox {
    padding-right: 20px;
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10000px;
    height: 100%;
    margin-left: 231px;
    overflow: hidden;

    > span {
      @include position(absolute, 0, 90px, 100%, 100%);
      @include image('acs/mask.svg', auto 100%, -390px 0);
      background-color: $color_blueLight_2;
      content: '';
    }
  }

  &__circles {
    position: absolute;
    top: 735px;
    left: 50%;
    width: 296px;
    height: 448px;
    margin-left: -1114px;

    > span {
      @include position(absolute, 0, 0, 100%, 100%);
      @include image('acs/circles.svg', contain, 0 0);
      content: '';
    }
  }

  &__laptop {
    @include block();
    @include image('acs/laptop.svg', contain, 0 0);
    width: 854px;
    height: 585px;
    margin: 27px 0 0 31px;
  }

  &__play {
    position: absolute;
    top: 189px;
    left: 61px;
  } 
}
