.amazonProduct {
  @include block();
  margin-top: 217px;

  .row {
    min-height: 866px;
    align-items: center;
  }

  .col {
    &:nth-child(1) {
      width: 30%;
      padding-right: 60px;
      align-items: flex-end;
    }
    &:nth-child(2) {
      width: 70%;
      padding-top: 6px;
    }
  }

  .textBox {
    width: 740px;

    h2 {
      transform: translateY(50px);
      transition: all 0.8s;
      transition-delay: 0.3s;
      opacity: 0;
      color: $color_text_main;
    }
    p {
      transform: translateY(30px);
      transition: all 0.8s;
      transition-delay: 0.6s;
      opacity: 0;
      color: $color_text_main;
    }

    &.active {
      h2 {
        transform: translateY(0);
        opacity: 1;
      }
      p {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__img {
    @include inline_block();

    img {
      max-width: 490px;
    }
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10000px;
    height: 100%;
    background-color: $color_blueLight_2;
    transition: all 1.5s;
    transform: translateX(100vh);

    &.active {
     transform: translateX(0);
     margin-left: -330px;
    }
  }

  &__circles {
    position: absolute;
    width: 0;
    height: 0;

    span {
      position: absolute;

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        border-radius: 1000px;
        transition: transform 0.15s;
      }
    }

    &--1 {
      top: 175px;
      right: 140px;

      span {
        @include circle_position(16px, 16px);

        i {
          background-color: $color_blue;
        }
      }
    }

    &--2 {
      top: 540px;
      left: 345px;

      span {
        @include circle_position(34px, 34px);

        i {
          border: 2px solid $color_dark;
        }
      }
    }

    &--3 {
      bottom: 30px;
      left: 120px;

      span {
        @include circle_position(48px, 48px);

        i {
          background-color: $color_red;
        }
      }
    }
  }
}
