.assistedPurchase {
  @include block();
  margin-top: 258px;

  .container {
    padding-bottom: 150px;
  }

  .row {

    &--text {
      .col {
        &:nth-child(1) {
          max-width: 300px;
          flex: none;
        }

        &:nth-child(2) {
          padding-top: 29px;
        }
      }
    }

    &--cont {
      margin-top: 60px;

      .col {
        &:nth-child(2) {
         justify-content: flex-end;
        }
      }
    }
  }

  &__mask {
    position: absolute;
    top: 16px;
    left: 50%;
    width: 10000px;
    height: 604px;
    background-color: $color_yellow;
    transition: all 1.5s;
    transform: translateX(100vh);

    &.active {
      transform: translateX(0);
      margin-left: 55px;
    }
  }

  &__img {
    @include inline_block();
    margin-bottom: 8px;
    left: 150px;

    img {
      max-width: 590px;
    }
  }

  &__list {
    @include block();

    li {
      @include block();
      min-height: 100px;
      padding-left: 124px;
      transition: transform 0.6s, opacity 0.6s;
      transform: translateY(20px);
      opacity: 0;

      &:not(:last-child) {
        margin-bottom: 48px;
      }

      b {
        position: absolute;
        width: 0;
        height: 0;
        top: 53px;
        left: 0;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.025em;
        color: $color_text_main;
        z-index: 1;
      }

      span {
        position: absolute;
        top: 16px;
        left: 16px;
        width: 72px;
        height: 72px;
        margin: 0 auto 26px auto;

        &:before, &:after {
          @include position(absolute, 0, 0, 100%, 100%);
          content: '';
        }

        &:before {
          border-radius: 18px;
          transform: rotate(-15deg);
          background-color: $color_yellow;
          opacity: 0.2;
        }
      }

      h4 {
        padding-top: 3px;
        padding-bottom: 12px;
      }

      &:nth-child(1) {
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        transition-delay: 0.4s;
      }
      &:nth-child(3) {
        transition-delay: 0.7s;
      }
    }

    &-choose {
      span:after {
        @include image('assisted-purchase/choose.svg', 30px auto, center);
      }
    }

    &-purchase {
      span:after {
        @include image('assisted-purchase/purchase.svg', 30px auto, center);
      }
    }

    &-delivery {
      span:after {
        @include image('assisted-purchase/delivery.svg', 30px auto, center);
      }
    }

    &.active {
      li {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
