.blockContainer {
  $block: &;
  @include block();
  margin-top: 100px;

  .row {

    &:nth-child(2n + 1) .col {
      &:nth-child(2) {
        padding-left: 30px;

        @include mobile($screen_md) {
          padding-left: 0;
        }
      }
    }

    &:nth-child(2n + 0) .col {

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 0;
        padding-right: 30px;

        @include mobile($screen_md) {
          padding-right: 0;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 230px;

      @include mobile($screen_md) {
        margin-bottom: 100px;
      }
    }

    @include mobile($screen_md) {
      display: block;
    }
  }

  .col {
    flex: none;
    width: 50%;

    @include mobile($screen_md) {
      width: auto;
    }
  }

  .textBox {
    padding-top: 10px;

    @include mobile($screen_md) {
      display: flex;
      flex-direction: column;
    }

    .button {
      margin-top: 38px;

      @include mobile($screen_md) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__cont {
    @include block();
  }

  &__button {
    @include flex();
    justify-content: center;
    margin-top: 57px;
  }

  &--delivery {
    margin-top: 250px;

    @include mobile($screen_md) {
      margin-top: 170px;
    }
  }

  &--software {
    margin-top: 113px;

    @include mobile($screen_md) {
      margin-top: 100px;
    }

    .row {
      &:not(:last-child) {
        margin-bottom: 225px;

        @include mobile($screen_md) {
          margin-bottom: 100px;
        }
      }
    }
  }

  &--order {
    margin-top: 113px;
  } 

  &--howWorks {
    margin-top: 190px;

    .row {

      &:nth-child(2n + 1) .col {

        &:nth-child(1) {
          order: 0;
        }
  
        &:nth-child(2) {
          order: 1;
        }
      }

      &:nth-child(2n + 0) .col {

        &:nth-child(1) {
          order: 1;
          padding-left: 30px;    
          
          @include mobile($screen_md) {
            padding-left: 0;    
          }
        }
  
        &:nth-child(2) {
          order: 0;
        }
      }

      &:nth-child(1) {
        margin-bottom: -202px;

        #{$block}-strip {
          bottom: 54px;
          left: -110px;
          transform: rotate(32deg);
        }
      }

      &:nth-child(2) {
        margin-bottom: 84px;

        #{$block}-strip {
          bottom: -168px;
          right: 3px;
          transform: rotate(-30.5deg);
        }
      }

      &:nth-child(3) {
        margin-bottom: -192px;

        #{$block}-strip {
          bottom: 60px;
          left: -110px;
          transform: rotate(30.5deg);
        }
      }

      &:nth-child(4) {
        #{$block}-strip {
          width: 2px;
          height: 110px;
          bottom: -315px;
          right: -1px;
        }
      }

      &--full {
        margin-top: 364px;
        margin-bottom: 0;

        .col {
          &:nth-child(2) {
            padding-left: 30px; 
          }
        }

        .textBox {
          height: auto;
          padding-top: 48px;

          .button {
            margin-top: 30px;
          }
        }
      }
    }

    .titleBox {
      text-align: center;
      margin-bottom: 96px;
    }

    .textBox {
      max-width: 440px;
      height: 0;

      h4 {
        margin-bottom: 11px;
      }
    }

    #{$block}__animation {
      @include block();
      margin-bottom: 37px;
    }
  }

  &--returnInspections {
    background-color: $color_blueLight_2;
    margin-top: 142px;
    padding: 122px 0 72px 0;

    .row {
      &:not(:last-child) {
        margin-bottom: 103px;
      }
    }

    .textBox {
      padding-top: 0;
    }
  }

  &--amazonPreparationServices {
    margin-top: 256px;
    margin-bottom: 144px;

    .row {
      
      &:nth-child(2n + 0) .col {

        &:nth-child(1) {
          order: 0;
        }
  
        &:nth-child(2) {
          order: 1;
          padding: 0 0 0 30px;  
        }
      }

      &:nth-child(2n + 1) .col {

        &:nth-child(1) {
          order: 1;
          padding: 0;  
        }
  
        &:nth-child(2) { 
          order: 0;
          padding-left: 0;  
        }
      }

      &:not(:last-child) {
        margin-bottom: 227px;
      }
    }
  }

  &--dropshipping {
    margin-top: 256px;
    margin-bottom: 144px;

    .row {
      
      &:nth-child(2n + 0) .col {

        &:nth-child(1) {
          order: 0;
        }
  
        &:nth-child(2) {
          order: 1;
          padding: 0 0 0 30px;  
        }
      }

      &:nth-child(2n + 1) .col {

        &:nth-child(1) {
          order: 1;
          padding: 0;  
        }
  
        &:nth-child(2) { 
          order: 0;
          padding-left: 0;  
        }
      }

      &:not(:last-child) {
        margin-bottom: 225px;
      }
    }

    #{$block}__button {
      margin-top: 110px;
    }
  }

  &__animation {
    position: absolute;

    @include mobile($screen_md) {
      @include block();
    }

    span {
      @include position(absolute, 0, 0, 100%, 100%);
      transition: all 1s;

      &:before {
        @include position(absolute, 0, 0, 100%, 100%);
        content: '';
      }
    }

    &--internationalShipping {
      @include image('block-container/international-shipping/element-1.svg', contain, 0 0);
      top: 0;
      left: -45px;
      width: 490px;
      height: 461px;

      @include mobile($screen_md) {
        top: auto;
        left: auto;
        margin: 0 auto;
      }

      @include mobile($screen_sm) {
        width: 350px;
        height: 350px;
      }

      span {        
        &:nth-child(1) {
          &:before {
            @include image('block-container/international-shipping/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/international-shipping/element-3.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          transition: all 1.3s;

          &:nth-child(1) {
            transform: translate(-50px, 25px);
          }
          &:nth-child(2) {
            transform: translate(0, -50px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(2):before {
            animation: 2.2s ease-in-out infinite internationalShipping;
          }
        }
      }
    }
  
    &--storageFulfillment {
      @include image('block-container/storage-fulfillment/element-1.svg', contain, 0 0);
      top: 16px;
      right: -126px;
      width: 604px;
      height: 512px;

      @include mobile($screen_md) {
        top: auto;
        right: auto;
        margin: 0 auto;
      }

      @include mobile($screen_sm) {
        width: 445px;
        height: 380px;
        margin: 0;
      }

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/storage-fulfillment/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/storage-fulfillment/element-3.svg', contain, 0 0);
          }
        }
        &:nth-child(3) {
          &:before {
            @include image('block-container/storage-fulfillment/element-4.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(-40px, -30px);
          }
          &:nth-child(2) {
            transform: translate(0, -40px);
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(0, -40px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(2):before {
            animation: 2s ease-in-out 1s infinite storageFulfillment_1; 
          }
          &:nth-child(3):before {
            animation: 2s ease-in-out 1s infinite storageFulfillment_2; 
          }
        }
      }
    }
  
    &--softwarePlatform {
      @include image('block-container/software-platform/element-1.svg', contain, 0 0);
      top: 63px;
      left: -104px;
      width: 625px;
      height: 457px;

      @include mobile($screen_md) {
        top: auto;
        left: auto;
        margin: 0 auto;
      }

      @include mobile($screen_sm) {
        width: 445px;
        height: 350px;
        left: -60px;
      }

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/software-platform/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/software-platform/element-3.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(-40px, -30px);
          }
          &:nth-child(2) {
            transform: translate(0, -40px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;

          &:nth-child(2):before {
            animation: 2s ease-in-out 1s infinite softwarePlatform; 
          }
        }
      }
    }
  
    &--scaleCommerce {
      @include image('block-container/scale-commerce/element-1.svg', contain, 0 0);
      top: 50px;
      right: -69px;
      width: 592px;
      height: 542px;

      @include mobile($screen_md) {
        top: auto;
        right: auto;
        margin: 0 auto;
      }

      @include mobile($screen_sm) {
        width: 430px;
        height: 410px;
      }

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/scale-commerce/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/scale-commerce/element-3.svg', contain, 0 0);
          }
        }
        &:nth-child(3) {
          &:before {
            @include image('block-container/scale-commerce/element-4.svg', contain, 0 0);
          }
        }
        &:nth-child(4) {
          &:before {
            @include image('block-container/scale-commerce/element-5.svg', contain, 0 0);
          }
        }
        &:nth-child(5) {
          &:before {
            @include image('block-container/scale-commerce/element-6.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(40px, -30px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(30px, -80px);
            transition-delay: 0.5s;
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(30px, -80px);
            transition-delay: 0.1s;
            opacity: 0;
          }
          &:nth-child(4) {
            transform: translate(30px, -80px);
            transition-delay: 0.3s;
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(2):before {
            animation: 2.2s ease-in-out 1s infinite scaleCommerce_3; 
          }
          &:nth-child(3):before {
            animation: 2.2s ease-in-out 1s infinite scaleCommerce_1; 
          }
          &:nth-child(4):before {
            animation: 2.2s ease-in-out 1s infinite scaleCommerce_2; 
          }
        }
      }
    }

    &--flexibleShipping {
      @include image('block-container/flexible-shipping/element-1.svg', contain, 0 0);
      top: 69px;
      left: 0;
      width: 469px;
      height: 340px;

      @include mobile($screen_md) {
        top: auto;
        left: auto;
        margin: 0 auto 20px auto;
      }

      @include mobile($screen_sm) {
        width: 340px;
        height: 260px;
        margin-bottom: 5px;
      }

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/flexible-shipping/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/flexible-shipping/element-3.svg', contain, 0 0);
          }
        }
        &:nth-child(3) {
          &:before {
            @include image('block-container/flexible-shipping/element-4.svg', contain, 0 0);
          }
        }
        &:nth-child(4) {
          &:before {
            @include image('block-container/flexible-shipping/element-5.svg', contain, 0 0);
          }
        }
        &:nth-child(5) {
          &:before {
            @include image('block-container/flexible-shipping/element-6.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(40px, -30px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(30px, -80px);
            transition-delay: 0.5s;
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(30px, -80px);
            transition-delay: 0.1s;
            opacity: 0;
          }
          &:nth-child(4) {
            transform: translate(30px, -80px);
            transition-delay: 0.3s;
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(2):before {
            animation: 2.2s ease-in-out 1s infinite scaleCommerce_3; 
          }
          &:nth-child(3):before {
            animation: 2.2s ease-in-out 1s infinite scaleCommerce_1; 
          }
          &:nth-child(4):before {
            animation: 2.2s ease-in-out 1s infinite scaleCommerce_2; 
          }
        }
      }
    }

    &--specialProjects {
      @include image('block-container/special-projects/element-1.svg', contain, 0 0);
      top: -1px;
      right: 0;
      width: 513px;
      height: 327px;

      @include mobile($screen_md) {
        top: auto;
        left: auto;
        margin: 0 auto 20px auto;
      }

      @include mobile($screen_sm) {
        width: 385px;
        height: 260px;
        margin-bottom: 5px;
      }

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/special-projects/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/special-projects/element-3.svg', contain, 0 0);
          }
        }
        &:nth-child(4) {
          &:before {
            @include image('block-container/special-projects/element-4.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(40px, -30px);
          }
          &:nth-child(2) {
            transform: translate(-30px, 20px);
          }
          &:nth-child(4) {
            transform: translate(0, -30px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(4):before {
            animation: 2.2s ease-in-out infinite internationalShipping;
          }
        }
      }
    }

    &--packingFees {
      @include image('block-container/packing-fees/element-1.svg', contain, 0 0);
      top: -5px;
      left: 50px;
      width: 362px;
      height: 425px;

      @include mobile($screen_md) {
        top: auto;
        left: auto;
        margin: 0 auto 30px auto;
      }

      @include mobile($screen_sm) {
        width: 270px;
        height: 320px;
        margin-bottom: 20px;
      }

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/packing-fees/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/packing-fees/element-3.svg', contain, 0 0);
          }
        }
        &:nth-child(3) {
          &:before {
            @include image('block-container/packing-fees/element-4.svg', contain, 0 0);
          }
        }
        &:nth-child(4) {
          &:before {
            @include image('block-container/packing-fees/element-5.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(-40px, 30px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(0, -80px);
            transition-delay: 0.5s;
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(0, -80px);
            transition-delay: 0.1s;
            opacity: 0;
          }
          &:nth-child(4) {
            transform: translate(0, -80px);
            transition-delay: 0.3s;
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(2):before {
            animation: 2.2s ease-in-out 1s infinite scaleCommerce_3; 
          }
          &:nth-child(3):before {
            animation: 2.2s ease-in-out 1s infinite scaleCommerce_1; 
          }
          &:nth-child(4):before {
            animation: 2.2s ease-in-out 1s infinite scaleCommerce_2; 
          }
        }
      }
    }

    &--getAddress {
      @include image('block-container/get-address/element-1.svg', contain, 0 0);
      width: 405px;
      height: 372px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/get-address/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/get-address/element-3.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(0, -35px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(0, -40px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(1):before {
            animation: 2.2s ease-in-out infinite internationalShipping;
          }
          &:nth-child(2):before {
            animation: 2.2s ease-in-out infinite internationalShipping;
          }
        }
      }
    }

    &--goShopping {
      @include image('block-container/go-shopping/element-1.svg', contain, 0 0);
      width: 410px;
      height: 380px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/go-shopping/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/go-shopping/element-3.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(-40px, -20px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(0, -40px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(2):before {
            animation: 2s ease-in-out infinite internationalShipping;
          }
        }
      }
    }

    &--storeItems {
      @include image('block-container/store-items/element-1.svg', contain, 0 0);
      width: 419px;
      height: 370px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/store-items/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/store-items/element-3.svg', contain, 0 0);
          }
        }
        &:nth-child(3) {
          &:before {
            @include image('block-container/store-items/element-4.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(0, -30px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(0, -30px);
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(40px, -30px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(1):before {
            animation: 2.8s ease-in-out 1s infinite storageFulfillment_3; 
          }
          &:nth-child(2):before {
            animation: 2.8s ease-in-out 1s infinite storageFulfillment_4; 
          }
        }
      }
    }

    &--confirmation {
      @include image('block-container/confirmation/element-1.svg', contain, 0 0);
      width: 392px;
      height: 371px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/confirmation/element-2.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(0, -30px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;

          &:nth-child(1):before {
            animation: 2.2s ease-in-out infinite internationalShipping;
          }
        }
      }
    }

    &--saveWithUs {
      @include image('block-container/save-withUs/element-1.svg', contain, 0 0);
      left: 110px;
      width: 382px;
      height: 321px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/save-withUs/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/save-withUs/element-3.svg', contain, 0 0);
          }
        }
        &:nth-child(3) {
          &:before {
            @include image('block-container/save-withUs/element-4.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(-50px, 40px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(0, -30px);
            transition-delay: 0.7s;
            opacity: 0;
          }
          &:nth-child(3) {
            transition: opacity 0.7s;
            transition-delay: 0.7s;
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(2):before {
            animation: 2s ease-in-out 0.7s infinite internationalShipping;
          }
        }
      }
    }

    &--returnInspections {
      @include image('block-container/return-inspections/element-1.svg', contain, 0 0);
      top: 48px;
      left: 2px;
      width: 498px;
      height: 430px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/return-inspections/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/return-inspections/element-3.svg', contain, 0 0);
          }
        }
        &:nth-child(3) {
          &:before {
            @include image('block-container/return-inspections/element-4.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(0, -50px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(0, -50px);
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(0, -50px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(1):before {
            animation: 2.2s ease-in-out 1s infinite scaleCommerce_1; 
          }
          &:nth-child(2):before {
            animation: 2.2s ease-in-out 1s infinite scaleCommerce_2; 
          }
          &:nth-child(3):before {
            animation: 2.2s ease-in-out 1s infinite scaleCommerce_3; 
          }
        }
      }
    }

    &--customPacking {
      @include image('block-container/custom-packing/element-1.svg', contain, 0 0);
      top: 12px;
      right: 1px;
      width: 386px;
      height: 385px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/custom-packing/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/custom-packing/element-3.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(0, -50px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(0, -50px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(1):before {
            animation: 2.5s ease-in-out 1.3s infinite scaleCommerce_1; 
          }
          &:nth-child(2):before {
            animation: 2.5s ease-in-out 1.3s infinite scaleCommerce_2; 
          }
        }
      }
    }

    &--amazonConsultant {
      @include image('block-container/amazon-consultant/element-1.svg', contain, 0 0);
      top: 33px;
      left: 1px;
      width: 409px;
      height: 355px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/amazon-consultant/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/amazon-consultant/element-3.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(-20px, -20px) rotate3d(1, -1, 5, -10deg);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(-20px, 20px) rotate3d(1, -2, 5, 30deg);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(1):before {
            animation: 2.3s ease-in-out 1.1s infinite scaleCommerce_1; 
          }
          &:nth-child(2):before {
            animation: 2.3s ease-in-out 1.1s infinite scaleCommerce_2; 
          }
        }
      }
    }

    &--technology {
      @include image('block-container/technology/element-1.svg', contain, 0 0);
      top: 23px;
      right: 0;
      width: 421px;
      height: 488px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/technology/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/technology/element-3.svg', contain, 0 0);
          }
        }
        &:nth-child(3) {
          &:before {
            @include image('block-container/technology/element-4.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(-60px, 35px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(40px, -25px);
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(30px, -20px);
            transition-delay: 0.4s;
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(2):before {
            animation: 2.2s ease-in-out 1.2s infinite scaleCommerce_1; 
          }
          &:nth-child(3):before {
            animation: 2.2s ease-in-out 1.2s infinite scaleCommerce_2; 
          }
        }
      }
    }

    &--crossdocking {
      @include image('block-container/crossdocking/element-1.svg', contain, 0 0);
      top: -2px;
      left: -2px;
      width: 409px;
      height: 433px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/crossdocking/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/crossdocking/element-3.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(40px, 25px);
          }
          &:nth-child(2) {
            transform: translate(40px, -20px);
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(1):before {
            animation: 3s ease-in-out 1.5s infinite scaleCommerce_1; 
          }
          &:nth-child(2):before {
            animation: 3s ease-in-out 1.5s infinite scaleCommerce_2; 
          }
        }
      }
    }

    &--compliance {
      @include image('block-container/compliance/element-1.svg', contain, 0 0);
      top: -24px;
      right: 0;
      width: 482px;
      height: 317px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/compliance/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/compliance/element-3.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(0, -40px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(0, -40px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(1):before {
            animation: 2.6s ease-in-out 1.2s infinite scaleCommerce_1; 
          }
          &:nth-child(2):before {
            animation: 2.6s ease-in-out 1.2s infinite scaleCommerce_2; 
          }
        }
      }
    }

    &--crossBorderShipping {
      @include image('block-container/crossBorder-shipping/element-1.svg', contain, 0 0);
      top: 33px;
      left: 0;
      width: 385px;
      height: 302px;

      @include mobile($screen_md) {
        top: auto;
        left: auto;
        margin: 0 auto 30px auto;
      }

      @include mobile($screen_sm) {
        width: 300px;
        height: 240px;
        margin-bottom: 20px;
      }

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/crossBorder-shipping/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/crossBorder-shipping/element-3.svg', contain, 0 0);
          }
        }
        &:nth-child(3) {
          &:before {
            @include image('block-container/crossBorder-shipping/element-4.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(-40px, 10px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(-30px, -15px);
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(-30px, 20px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(2):before {
            animation: 2.8s ease-in-out 1.4s infinite scaleCommerce_1; 
          }
          &:nth-child(3):before {
            animation: 2.8s ease-in-out 1.4s infinite scaleCommerce_2; 
          }
        }
      }
    }

    &--yourConnections {
      @include image('block-container/your-connections/element-1.svg', contain, 0 0);
      top: -39px;
      right: 0;
      width: 427px;
      height: 323px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/your-connections/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/your-connections/element-3.svg', contain, 0 0);
          }
        }
        &:nth-child(3) {
          &:before {
            @include image('block-container/your-connections/element-4.svg', contain, 0 0);
          }
        }
        &:nth-child(4) {
          &:before {
            @include image('block-container/your-connections/element-5.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(20px, -30px);
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(10px, -40px);
            transition-delay: 0.3s;
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(10px, -40px);
            transition-delay: 0.3s;
            opacity: 0;
          }
          &:nth-child(4) {
            transform: translate(10px, -40px);
            transition-delay: 0.3s;
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(2):before {
            animation: 2.1s ease-in-out 1.5s infinite scaleCommerce_1; 
          }
          &:nth-child(3):before {
            animation: 2.1s ease-in-out 1.5s infinite scaleCommerce_2; 
          }
          &:nth-child(4):before {
            animation: 2.1s ease-in-out 1.5s infinite scaleCommerce_3; 
          }
        }
      }
    }

    &--increasedExposure {
      @include image('block-container/increased-exposure/element-1.svg', contain, 0 0);
      top: 40px;
      left: 0;
      width: 412px;
      height: 338px;

      span {
        &:nth-child(1) {
          &:before {
            @include image('block-container/increased-exposure/element-2.svg', contain, 0 0);
          }
        }
        &:nth-child(2) {
          &:before {
            @include image('block-container/increased-exposure/element-3.svg', contain, 0 0);
          }
        }

        @include desktop($screen_md) {
          &:nth-child(1) {
            transform: translate(0, -30px);
            transition-delay: 0.4s;
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translate(0, -50px);
            opacity: 0;
          }
        }
      }

      @include desktop($screen_md) {
        &.active span {
          transform: translate(0, 0);
          opacity: 1;
  
          &:nth-child(1):before {
            animation: 2.6s ease-in-out 1.6s infinite scaleCommerce_2; 
          }
          &:nth-child(2):before {
            animation: 2.6s ease-in-out 1.6s infinite scaleCommerce_1; 
          }
        }
      }
    }
  }

  &-strip {
    position: absolute;
    width: 110px;
    height: 2px;
    border-radius: 10px;
    background-color: $color_blueLight;
  }
}

@keyframes internationalShipping {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

@keyframes storageFulfillment_1 {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(-3px, -8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes storageFulfillment_2 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-3px, -8px);
  }
  40% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes storageFulfillment_3 {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -12px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes storageFulfillment_4 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -12px);
  }
  40% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes softwarePlatform {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scaleCommerce_1 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -8px);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes scaleCommerce_2 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, -8px);
  }
  60% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes scaleCommerce_3 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, -8px);
  }
  80% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
