.comprehensiveSolution {
  $solution: &;
  @include block();
  margin-top: 235px;

  @include mobile($screen_lg) {
    margin-top: 180px;
  }

  @include mobile($screen_md) {
    margin-top: 160px;
  }

  .titleBox {
    max-width: 740px;
    margin: 0 auto;
    text-align: center;
  }

  &__cont {
    @include flex();
    margin: 130px -30px 0 -30px;

    @include mobile($screen_md) {
      margin: 70px 0 0 0;
    }
  }

  &__contBloc {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;

    @include desktop($screen_md) {
      &.active {
        #{$solution}__box {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }

    @include mobile($screen_md) {
      display: flex;
      max-width: 340px;
      margin: 0 auto;
      justify-content: center;
    }
  }

  &__box {
    position: relative;
    text-align: center;
    width: 33.33%;
    height: 300px;

    @include desktop($screen_md) {
      transition: transform 0.7s, opacity 0.7s;
      transform: translateY(20px);
      opacity: 0;
    }

    @include mobile($screen_md) {
      display: block;
      width: auto;
      height: auto;
      margin-bottom: 63px;
    }

    > img {
      @include block();
      width: 144px;
      height: 144px;
      margin: 0 auto 24px auto;
    }

    > h4 {
      padding: 0 30px;
    }

    @include desktop($screen_md) {
      &:nth-child(1) {
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        transition-delay: 0.25s;
      }
      &:nth-child(3) {
        transition-delay: 0.4s;
      }
      &:nth-child(4) {
        transition-delay: 0.55s;
      }
      &:nth-child(5) {
        transition-delay: 0.7s;
      }
      &:nth-child(6) {
        transition-delay: 0.85s;
      }
      &:nth-child(7) {
        transition-delay: 1s;
      }
      &:nth-child(8) {
        transition-delay: 1.15s;
      }
    }

    @include mobile($screen_md) {
      &:nth-child(6) {
        order: 1;
      }
      &:nth-child(8) {
        order: 0;
      }
    }
  }

  &__block {
    @include block();
    width: 340px;
    min-height: 469px;
    padding: 100px 40px 0 40px;
    margin: 57px 0 0 30px;
    background-color: $color_blueLight_2;

    @include mobile($screen_md) {
      width: auto;
      max-width: 340px;
      margin: 35px 0 0 0;
    }

    &-text {
      @include block();
      text-align: center;
    }

    &-button {
      @include flex();
      justify-content: center;
      margin-top: 62px;
    }

    &-circlesCont {
      @include position(absolute, 0, 0, 100%, 100%);
      overflow: hidden;
    }

    &-circles {
      position: absolute;
      width: 0;
      height: 0;
  
      span {
        position: absolute;

        @include mobile($screen_md) {
          transform: translate3d(0, 0, 0) !important;
        }
  
        i {
          @include position(absolute, 0, 0, 100%, 100%);
          border-radius: 1000px;
          transition: transform 0.15s;

          @include mobile($screen_md) {
            transform: translate3d(0, 0, 0) translate(0, 0) !important;
          }
        }
      }
  
      &--1 {
        right: 70px;

        @include desktop($screen_md) {
          animation: 8s linear 0.1s infinite solution_circles;
        }

        @include mobile($screen_md) {
          top: 0;
        }
  
        span {
          @include circle_position(24px, 24px);
          @include desktop($screen_md) {
            animation: 8s ease-in-out 0.1s infinite solution_circles_side_1;
          }

          i {
            background-color: $color_blue;
          }
        }
      }
  
      &--2 {
        left: 100px;

        @include desktop($screen_md) {
          animation: 7s linear 0.4s infinite solution_circles;
        }

        @include mobile($screen_md) {
          top: 55px;
        }
  
        span {
          @include circle_position(14px, 14px);
          @include desktop($screen_md) {
            animation: 7s ease-in-out 0.4s infinite solution_circles_side_2;
          }

          i {
            border: 2px solid $color_dark;
          }
        }
      }
  
      &--3 {
        right: 130px;

        @include desktop($screen_md) {
          animation: 12s linear 0.8s infinite solution_circles;
        }

        @include mobile($screen_md) {
          right: 100px;
          bottom: 55px;
        }
  
        span {
          @include circle_position(32px, 32px);
          @include desktop($screen_md) {
            animation: 12s ease-in-out 0.8s infinite solution_circles_side_1;
          }

          i {
            background-color: $color_red;
          }
        }
      }
    }
  }
}

@keyframes solution_circles {
  0% {
    transform: translate(0, 480px);
  }
  100% {
    transform: translate(0, -40px);
  }
}

@keyframes solution_circles_side_1 {
  0% {
    transform: translate(-10px, 0);
  }
  40% {
    transform: translate(20px, 0);
  }
  70% {
    transform: translate(-15px, 0);
  }
  100% {
    transform: translate(25px, 0);
  }
}

@keyframes solution_circles_side_2 {
  0% {
    transform: translate(5px, 0);
  }
  50% {
    transform: translate(-30px, 0);
  }
  80% {
    transform: translate(20px, 0);
  }
  100% {
    transform: translate(-10px, 0);
  }
}
