.contactUs {
  @include block();

  &:after {
    @include position(absolute, 0, -40px, 100%, 40px);
    box-shadow: 0px 12px 24px rgba(197, 228, 243, 0.4);
    content: '';
  }

  .container {
    min-height: inherit;
  }

  .row {
    min-height: inherit;

    @include mobile($screen_md) {
      flex-direction: column;
    }
  }

  .col {
    min-height: inherit;
    flex: none;

    &:nth-child(1) {
      width: 58%;
      padding-right: 30px;

      @include mobile($screen_md) {
        width: 100%;
        padding: 86px 0 0 0;
      }
    }
  }

  .titleBox {
    margin-top: 117px;

    @include mobile($screen_md) {
      margin-top: 0;
      text-align: center;
    }
  }

  &__info {
    @include flex();
    flex-wrap: wrap;
    margin-top: 55px;

    @include mobile($screen_md) {
      justify-content: center;
    }

    @include mobile($screen_xs) {
      flex-direction: column;
    }

    li {
      @include flex();
      flex-direction: column;
      padding-left: 48px;

      @include mobile($screen_sm) {
        padding-left: 45px;
      }

      @include mobile($screen_xs) {
        margin-bottom: 20px;
      }

      span {
        @include block();
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $color_text_main;
        margin-bottom: 8px;
      }

      &:not(:last-child) {
        margin-right: 55px;

        @include mobile($screen_sm) {
          margin-right: 40px;
        }

        @include mobile($screen_xs) {
          margin-right: 0;
        }
      }
    }

    &-address {
      @include image('icon-address.svg', 22px 30px, 3px 2px);

      @include mobile($screen_sm) {
        background-position: 8px 2px;
      }

      @include mobile($screen_xs) {
        background-position: 5px 2px;
      }
    }

    &-phone { 
      @include image('icon-phone.svg', 30px 30px, 1px 3px);
    }
  }

  &__form {
    @include flex();
    flex-wrap: wrap;
    margin: 120px 0 135px 0;
    max-width: 540px;

    @include mobile($screen_md) {
      margin: 60px 0 60px 0;
      max-width: none;
    }

    @include mobile($screen_sm) {
      display: block;
    }

    @include mobile($screen_xs) {
      margin-top: 20px;
    }

    &-box {
      @include flex();
      flex-direction: column;
      justify-content: flex-end;
      width: 50%;
      padding-bottom: 23px;

      &:nth-child(2n + 1) {
        padding-right: 18px;

        @include mobile($screen_sm) {
          padding-right: 0;
        }
      }

      &:nth-child(2n + 0) {
        padding-left: 18px;

        @include mobile($screen_sm) {
          padding-left: 0;
        }
      }

      @include mobile($screen_sm) {
        width: 100%;
      }
    }

    &-column {
      @include flex();
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      padding-bottom: 23px;

      &--indent {
        margin-bottom: 32px;

        @include mobile($screen_sm) {
          margin-bottom: 5px;
        }
      }
    }

    &-captcha {
      @include flex();
      flex-direction: column;
      justify-content: flex-end;
      width: 63%;
      padding-right: 38px;

      @include mobile($screen_sm) {
        align-items: center;
        width: 100%;
        padding-right: 0;
        margin-bottom: 28px;
      }
    }

    &-button {
      @include flex();
      flex-direction: column;
      justify-content: center;
      width: 37%;

      @include mobile($screen_sm) {
        display: block;
        width: auto;
      }
    }

    .button {
      min-width: 0;
      width: 100%;
    }
  }

  &__circles {
    position: absolute;
    top: 640px;
    left: 50%;
    width: 261px;
    height: 453px;
    margin-left: -1050px;

    @include mobile($screen_md) {
      top: -110px;
      left: -80px;
      width: 150px;
      height: 250px;
      margin-left: 0;
    }

    span {
      @include position(absolute, 0, 0, 100%, 100%);

      @include mobile($screen_md) {
        transform: translate3d(0, 0, 0) !important;
      }

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        transition: transform 0.15s;

        @include mobile($screen_md) {
          transform: translate3d(0, 0, 0) translate(0, 0) !important;
        }
      }

      &:nth-child(1) {
        i {
          @include image('contact-us/circles-1.svg', contain, 0 0);
        }
      }
      &:nth-child(2) {
        top: 20px;

        @include mobile($screen_md) {
          top: 0;
        }

        i {
          @include image('contact-us/circles-2.svg', contain, 0 0);
        }
      }
    }
  }

  &-map {
    position: absolute;
    top: 108px;
    right: 0;
    bottom: 0;
    width: 45.2%;
    background-color: $color_blueLight_2;

    @include mobile($screen_xl) {
      top: 95px;
    }

    @include mobile($screen_lg) {
      width: 41%;
    }

    @include mobile($screen_md) {
      top: auto;
      width: auto;
      height: 300px;
      position: relative;
      display: block;
    }  

    &-cont {
      @include position(absolute, 0, 0, 100%, 100%);
      @include image('map.jpg', cover, center);
    }
  }
}
