.connectManufacturers {
  $bl: &; 
  @include block();
  margin-top: 270px;

  &__cont {
    @include block();

    .col {
      &:nth-child(1) {
        padding-right: 30px;
      }
      &:nth-child(2) {
        padding: 7px 0 0 30px;
      }
    }

    .textBox {

      .colorBlue {
        transition: color 1s;
        color: $color_text_main;
      }

      &.active {
        .colorBlue {
          color: $color_text_blue;
        }
      }
    }
  }

  &__blockIcon {
    @include flex();
    flex-wrap: wrap;
    margin: 95px -30px 0 -30px;

    &.active {
      #{$bl}__box {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__box {
    position: relative;
    width: 33.33%;
    min-height: 330px;
    padding: 0 30px;
    margin-bottom: 37px;
    text-align: center;
    transition: transform 0.7s, opacity 0.7s;
    transform: translateY(20px);
    opacity: 0;

    > img {
      @include block();
      width: 144px;
      height: 144px;
      margin: 0 auto 24px auto;
    }

    h4 {
      margin-bottom: 10px;
    }

    &:nth-child(1) {
      transition-delay: 0.1s;
    }
    &:nth-child(2) {
      transition-delay: 0.25s;
    }
    &:nth-child(3) {
      transition-delay: 0.4s;
    }
    &:nth-child(4) {
      transition-delay: 0.55s;
    }
    &:nth-child(5) {
      transition-delay: 0.7s;
    }
    &:nth-child(6) {
      transition-delay: 0.85s;
    }
  }

  &__block {
    $block: &;
    @include block();
    min-height: 413px;
    padding: 99px 40px 0 40px;
    margin-top: 28px;
    transition: background-color 0.7s;

    &-text {
      @include block();
      max-width: 720px;
      margin: 0 auto;
      text-align: center;
    }

    &-button {
      @include flex();
      justify-content: center;
      margin-top: 62px;
    }

    &-circlesCont {
      @include position(absolute, 0, 0, 100%, 100%);
      overflow: hidden;
      transition: opacity 0.7s;
      transition-delay: 0.8s;
      opacity: 0;
    }

    &-circles {
      position: absolute;
      width: 0;
      height: 0;
  
      span {
        position: absolute;
  
        i {
          @include position(absolute, 0, 0, 100%, 100%);
          border-radius: 1000px;
          transition: transform 0.15s;
        }
      }
  
      &--1 {
        left: 73px;
        animation: 7s linear 0.1s infinite connect_circles;
  
        span {
          @include circle_position(14px, 14px);
          animation: 7s ease-in-out 0.1s infinite connect_circles_side_1;

          i {
            border: 2px solid $color_dark;
          }
        }
      }
  
      &--2 {
        left: 265px;
        animation: 10s linear 0.5s infinite connect_circles;
  
        span {
          @include circle_position(32px, 32px);
          animation: 10s ease-in-out 0.5s infinite connect_circles_side_2;

          i {
            background-color: $color_violet;
          }
        }
      }
  
      &--3 {
        left: 417px;
        animation: 8s linear 1.2s infinite connect_circles;
  
        span {
          @include circle_position(24px, 24px);
          animation: 8s ease-in-out 1.2s infinite connect_circles_side_1;
  
          i {
            background-color: $color_blue;
          }
        }
      }

      &--4 {
        right: 337px;
        animation: 10s linear 0.4s infinite connect_circles;
  
        span {
          @include circle_position(12px, 12px);
          animation: 10s ease-in-out 0.4s infinite connect_circles_side_2;

          i {
            background-color: $color_blue;
          }
        }
      }

      &--5 {
        right: 231px;
        animation: 8s linear 1.5s infinite connect_circles;
  
        span {
          @include circle_position(24px, 24px);
          animation: 8s ease-in-out 1.5s infinite connect_circles_side_1;

          i {
            background-color: $color_violet;
          }
        }
      }

      &--6 {
        right: 20px;
        animation: 11s linear 0s infinite connect_circles;
  
        span {
          @include circle_position(34px, 34px);
          animation: 11s ease-in-out 0s infinite connect_circles_side_2;

          i {
            border: 2px solid $color_dark;
          }
        }
      }
    }

    &.active {
      background-color: $color_blueLight_2;

      #{$block}-circlesCont {
        opacity: 1;
      }
    }
  }
}

@keyframes connect_circles {
  0% {
    transform: translate(0, 440px);
  }
  100% {
    transform: translate(0, -40px);
  }
}

@keyframes connect_circles_side_1 {
  0% {
    transform: translate(-10px, 0);
  }
  40% {
    transform: translate(20px, 0);
  }
  70% {
    transform: translate(-15px, 0);
  }
  100% {
    transform: translate(25px, 0);
  }
}

@keyframes connect_circles_side_2 {
  0% {
    transform: translate(5px, 0);
  }
  50% {
    transform: translate(-30px, 0);
  }
  80% {
    transform: translate(20px, 0);
  }
  100% {
    transform: translate(-10px, 0);
  }
}
