.discountedShipping {
  @include block();
  margin-top: 144px;

  .row {
    min-height: 995px;
    align-items: center;
  }

  .col {
    &:nth-child(1) {
      flex: none;
      max-width: 800px;
      margin-bottom: 8px;
    }
  }

  .textBox {
    padding-right: 60px;
  }

  &__mask {
    position: absolute;
    top: 0;
    right: 50%;
    width: 10000px;
    height: 100%;
    background-color: $color_blueLight_2;
    transition: all 1.5s;
    transform: translateX(-100vh);


    &.active {
     transform: translateX(0);
     margin-right: -330px;
    }
  }

  &__logos {
    @include flex();
    align-items: center;
    margin-top: 34px;

    li {
      @include inline_block();
      opacity: 0;
      transition: all 0.8s;
      transform: translateY(30px);
      
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: ($i / 6)#{s};
        }
      }

      &:not(:first-child) {
        margin-left: 36px;
      } 
    }

    &.active li {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__img {
    @include block();
  }

  &__circles {
    position: absolute;
    width: 0;
    height: 0;

    span {
      position: absolute;
      border-radius: 1000px;

      &:before {
        @include position(absolute, 0, 0, 100%, 100%);
        border-radius: inherit;
        content: '';
      }
    }

    &--1 {
      top: 215px;
      right: 80px;

      span {
        @include circle_position(16px, 16px);

        &:before {
          background-color: $color_cyan;
        }
      }
    }

    &--2 {
      top: 250px;
      right: -5px;

      span {
        @include circle_position(32px, 32px);

        &:before {
          background-color: $color_blue;
        }
      }
    }

    &--3 {
      bottom: -24px;
      left: 193px;

      span {
        @include circle_position(48px, 48px);

        &:before {
          background-color: $color_violet;
        }
      }
    }
  }
}
