.doesWork {
  @include block();
  background-color: $color_blueLight_2;
  padding: 117px 0 145px 0;
  margin-top: 72px;

  &__info {
    @include block();

    .row {
      min-height: 680px;
      align-items: center;
    }

    .col {
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 0;
        flex: none;
        max-width: 800px;
      }
    }

    &-img {
      @include inline_block();

      img {
        max-width: 490px;
      }
    }

    .textBox {
      padding: 8px 60px 0 0;

      h2 {
        transform: translateY(50px);
        transition: all 0.8s;
        transition-delay: 0.3s;
        opacity: 0;
      }
      p {
        transform: translateY(30px);
        transition: all 0.8s;
        transition-delay: 0.6s;
        opacity: 0;
      }
  
      &.active {
        h2 {
          transform: translateY(0);
          opacity: 1;
        }
        p {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }

    &-circles {
      position: absolute;
      width: 0;
      height: 0;
  
      span {
        position: absolute;
  
        i {
          @include position(absolute, 0, 0, 100%, 100%);
          border-radius: 1000px;
          transition: transform 0.15s;
        }
      }
  
      &--1 {
        top: 200px;
        right: 230px;
  
        span {
          @include circle_position(16px, 16px);
  
          i {
            background-color: $color_blue;
          }
        }
      }
  
      &--2 {
        top: 180px;
        right: 150px;
  
        span {
          @include circle_position(30px, 30px);
  
          i {
            border: 2px solid $color_dark;
          }
        }
      }
  
      &--3 {
        bottom: 80px;
        left: 0;
  
        span {
          @include circle_position(48px, 48px);
  
          i {
            background-color: $color_blue;
          }
        }
      }
    }
  }

  &__slider {
    @include block();
    margin-top: 115px;
  }

  &__text {
    @include block();
    margin-top: 248px;

    .col {
      &:nth-child(1) {
        padding: 7px 30px 0 0;
      }
      &:nth-child(2) {
        padding-left: 30px;
      }
    }

    &-button {
      @include block();
      margin-top: 75px;
      text-align: center;
    }
  }
}

.workSlider {
  @include block();

  &__list {
    @include flex();
    margin: 0 -30px;

    &-block {
      position: relative;
      display: inline-flex; 
    }

    &-box {
      position: relative;
      min-width: 340px;
      margin: 0 30px;

      &:before {
        @include block();
        width: 144px;
        height: 144px;
        margin: 0 auto 25px auto;
        content: '';
      }

      &:not(:last-child) {
        &:after {
          @include image('icon-arrow.svg', contain, 0 0);
          position: absolute;
          top: 63px;
          right: -37px;
          width: 10px;
          height: 17px;
          content: '';
        }
      }

      h4 {
        text-align: center;
        margin-bottom: 10px;
      }

      p {
        text-align: center;
      }

      &--manufacture {
        &:before {
          @include image('does-work/manufacture.svg', contain, 0 0);
        }
      }

      &--link {
        &:before {
          @include image('does-work/link.svg', contain, 0 0);
        }
      }

      &--shipProducts {
        &:before {
          @include image('does-work/ship-products.svg', contain, 0 0);
        }
      }

      &--receiving {
        &:before {
          @include image('does-work/receiving.svg', contain, 0 0);
        }
      }
    }
  }

  &__value {
    @include block();
    margin: 98px 18px 0 18px;
    border-radius: 100px;
    background-color: $color_white;

    &-box {
      @include block();
      height: 6px;
      z-index: 1;
    }

    &-slid {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 100px;
      background-color: $color_blue;
    }

    &-list {
      position: absolute;
      display: flex;
      justify-content: space-between;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      li {
        @include inline_block();

        &:before {
          @include position(absolute, 0, 0, 1px, 100%);
          background-color: $color_dark;
          content: '';
        }

        &:first-child:before {
          display: none;
        }

        &:last-child:before {
          display: none;
        }

        span {
          @include inline_block();
          width: 0;
          left: -8px;
          top: 33px;
          font-size: 22px;
          line-height: 24px;
          letter-spacing: 0.025em;
          color: $color_text_main;
          transition: color 0.1s;
          user-select: none;
        }

        &.active span {
          color: $color_text_blue;
        }
      }
    }

    .ui-slider-handle {
      top: -15px;
      margin-left: -17px;
      width: 36px;
      height: 36px;
      border-radius: 1000px;
      background-color: $color_blue;
      cursor: pointer;
      box-shadow: 0px 9px 12px rgba(197, 228, 243, 0.4);

      &:after {
        @include position(absolute, 50%, 50%, 18px, 18px);
        margin: -9px 0 0 -9px;
        background-color: $color_white;
        border-radius: 1000px;
        content: '';
      }
    }
  }
}
