.favoriteCarrier {
  $favoriteCarrier: &;
  @include block();
  margin-top: 75px;
  margin-bottom: 144px;

  .row {
    min-height: 915px;
    align-items: center;
  }

  .col {
    width: 50%;
    
    &:nth-child(1) {
      align-items: flex-end;
      padding-right: 30px;
    }
    &:nth-child(2) {
      padding: 0 0 20px 30px;
    }
  }

  .textBox {
    padding-right: 60px;

    h2 {
      transform: translateY(50px);
      transition: all 0.8s;
      transition-delay: 0.3s;
      opacity: 0;
      color: $color_text_main;
    }

    p {
      transform: translateY(30px);
      transition: all 0.8s;
      transition-delay: 0.6s;
      opacity: 0;
      color: $color_text_main;
    }

    #{$favoriteCarrier}__button {
      margin-top: 40px;
      transition: opacity 0.8s;
      transition-delay: 0.9s;
      opacity: 0;
    }

    &.active {
      h2 {
        transform: translateY(0);
        opacity: 1;
      }
      p {
        transform: translateY(0);
        opacity: 1;
      }
      #{$favoriteCarrier}__button {
        opacity: 1;
      }
    }
  }

  &__img {
    @include inline_block();

    img {
      max-width: 690px;
    }
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10000px;
    height: 100%;
    background-color: $color_blueLight;
    transition: all 1.5s;
    transform: translateX(100vh);

    &.active {
     transform: translateX(0);
     margin-left: -330px;
    }
  }

  &__circles {
    position: absolute;
    width: 0;
    height: 0;

    span {
      position: absolute;
      border-radius: 1000px;

      &:before {
        @include position(absolute, 0, 0, 100%, 100%);
        border-radius: inherit;
        content: '';
      }
    }

    &--1 {
      top: 190px;
      right: 272px;

      span {
        @include circle_position(12px, 12px);

        &:before {
          border: 2px solid $color_dark;
        }
      }
    }

    &--2 {
      top: 120px;
      left: 324px;

      span {
        @include circle_position(32px, 32px);

        &:before {
          background-color: $color_blue;
        }
      }
    }

    &--3 {
      bottom: -12px;
      left: 96px;

      span {
        @include circle_position(48px, 48px);

        &:before {
          background-color: $color_blue;
        }
      }
    }
  }
}