.flexibilityShipping {
  @include block();
  margin-top: 113px;

  @include mobile($screen_md) {
    background-color: $color_blue;
    margin-top: 250px;
  }

  .row {
    min-height: 783px;
    align-items: center;

    @include mobile($screen_md) {
      flex-direction: column;
      min-height: auto;
    }
  }

  .col {

    &:nth-child(1) {
      order: 1;

      @include mobile($screen_md) {
        order: 0;
        flex: none;
        width: 100%;
        align-items: center;
        margin-bottom: 50px;
      }
    }

    &:nth-child(2) {
      order: 0;
      flex: none;
      max-width: 600px;
      padding-top: 10px;

      @include mobile($screen_md) {
        order: 1;
        width: 100%;
        max-width: none;
        padding-top: 0;
        margin-bottom: 90px;
      }
    }
  }

  .textBox {
    padding-right: 60px;

    h2 {
      color: $color_text_white;
    }
    p {
      color: $color_text_white;
    }

    @include desktop($screen_md) {
      h2 {
        transform: translateY(50px);
        transition: all 0.8s;
        transition-delay: 0.3s;
        opacity: 0;
      }
      p {
        transform: translateY(30px);
        transition: all 0.8s;
        transition-delay: 0.6s;
        opacity: 0;
      }

      &.active {
        h2 {
          transform: translateY(0);
          opacity: 1;
        }
        p {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }

    @include mobile($screen_md) {
      padding-right: 0;
    }
  }

  &__img {
    @include inline_block();

    @include mobile($screen_md) {
      margin-top: -108px;
    }

    img {
      max-width: 690px;

      @include mobile($screen_md) {
        max-width: 100%;
      }
    }
  }

  &__mask {
    position: absolute;
    top: 0;
    right: 50%;
    width: 10000px;
    height: 100%;
    background-color: $color_blue;
    transition: all 1.5s;
    transform: translateX(-100vh);

    &.active {
     transform: translateX(0);
     margin-right: -330px;
    }

    @include mobile($screen_md) {
      display: none;
    }
  }

  &__circles {
    position: absolute;
    width: 0;
    height: 0;

    span {
      position: absolute;

      @include mobile($screen_md) {
        transform: translate3d(0, 0, 0) !important;
      }

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        border-radius: 1000px;
        transition: transform 0.15s;

        @include mobile($screen_md) {
          transform: translate3d(0, 0, 0) translate(0, 0) !important;
        }
      }
    }

    &--1 {
      top: 140px;
      right: 200px;

      @include mobile($screen_md) {
        top: -40px;
        right: 100px;
      }

      span {
        @include circle_position(16px, 16px);

        i {
          background-color: $color_dark;
        }
      }
    }

    &--2 {
      top: 100px;
      left: 120px;

      @include mobile($screen_md) {
        top: 50%;
        left: 5px;
      }

      span {
        @include circle_position(32px, 32px);

        i {
          background-color: $color_white;
        }
      }
    }

    &--3 {
      bottom: 70px;
      left: 200px;

      @include mobile($screen_md) {
        bottom: 5px;
        left: auto;
        right: 70px;
      }

      span {
        @include circle_position(45px, 45px);

        i {
          border: 2px solid $color_dark;
        }
      }
    }
  }
}
