.footer {
  @include block();
  background-color: $color_blue;
	
  .container {
    max-width: 1854px;
    min-height: 175px;
    padding-top: 48px;

    @include mobile($screen_sm) {
      min-height: auto;
      padding-bottom: 25px;
    }
  }

  .row {
    flex-wrap: wrap;
  }

  .col {
    flex: none;

    &:nth-child(1) {
      width: 18%;

      @include mobile($screen_xl) {
        width: 22%;
      }

      @include mobile($screen_lg) {
        width: 25%;
      }

      @include mobile($screen_md) {
        width: 50%;
        order: 0;
      }
    }

    &:nth-child(2) {
      width: 67%;
      align-items: center;
      padding: 5px 0 0 2px;

      @include mobile($screen_xl) {
        width: 58%;
      }

      @include mobile($screen_lg) {
        width: 55%;
      }

      @include mobile($screen_md) {
        width: 100%;
        order: 2;
        padding: 20px 0 0 0;
      }
    }

    &:nth-child(3) {
      width: 15%;
      align-items: flex-end;
      padding-top: 1px;

      @include mobile($screen_xl) {
        width: 20%;
      }

      @include mobile($screen_md) {
        width: 50%;
        order: 1;
        padding-top: 0;
      }

      @include mobile($screen_sm) {
        align-items: flex-start;
      }
    }

    &:nth-child(4) {
      width: 50%;
      justify-content: flex-start;

      @include mobile($screen_md) {
        order: 3;
        padding-right: 30px;
      }
    }

    &:nth-child(5) {
      width: 50%;

      @include mobile($screen_md) {
        order: 4;
      }
    }
  }

  &__logo {
    @include inline_block();
    @include image('logo-white.svg', contain, 0 0);
    width: 229px;
    height: 36px;

    @include mobile($screen_sm) {
      width: 36px;
      background-size: cover;
    }
  }

  &__copyright {
    @include block();
    margin-top: 29px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $color_text_violet;

    @include mobile($screen_md) {
      margin: 25px 0 0 0;
    }
  }

  &__menu {
    @include flex();
    flex-wrap: wrap;

    @include mobile($screen_sm) {
      margin-top: 12px;
    }
    
    li {
      @include inline_block();
      margin: 0 18px;

      @include mobile($screen_md) {
        margin: 0 30px 0 0;
      }

      @include mobile($screen_sm) {
        margin: 0 0 0 0;
        width: 50%;

        &:last-child {
          margin-top: -35px;
        }
      }

      a {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.025em;
        text-decoration: none;
        color: $color_text_white;
        transition: color $time;

        @include mobile($screen_sm) {
          line-height: 36px;
        }
      }
    }
  }

  &__paymentSystems {
    @include flex();
    flex-wrap: wrap;
    align-items: center;

    li {
      @include inline_block();

      &:nth-child(3), &:nth-child(4) {
        padding-top: 2px;
      }

      &:not(:last-child) {
        margin-right: 18px;

        @include mobile($screen_sm) {
          margin-right: 12px;
        }
      }

      @include mobile($screen_sm) {
        margin-bottom: 5px;
      }
    }
  }

  &__terms {
    @include flex();
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 25px;

    @include mobile($screen_md) {
      margin: 20px 0 10px 0;
    }

    @include mobile($screen_sm) {
      display: block;
    }

    li {
      @include inline_block();

      @include mobile($screen_sm) {
        display: block;
      }

      &:not(:first-child) {
        margin-left: 35px;

        @include mobile($screen_sm) {
          margin-left: 0;
        }
      }

      &:not(:last-child) {
        @include mobile($screen_sm) {
          margin-bottom: 5px;
        }
      }

      a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: $color_text_violet;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
