.fulfillmentProcess {
  @include block();

  // .container {
  //   min-height: 872px;
  // }

  // .col {
  //   &:nth-child(1) {
  //     order: 1;
  //   }
  //   &:nth-child(2) {
  //     order: 0;
  //   }
  // }

  &__list {
    @include block();

    li {
      @include inline_block();
      width: 240px;

      b {
        position: absolute;
        width: 0;
        height: 0;
        top: 30px;
        left: 50%;
        margin-left: -50px;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0.025em;
        color: $color_text_main;
        z-index: 1;
      }

      span {
        @include block();
        width: 72px;
        height: 72px;
        margin: 0 auto;

        &:before, &:after {
          @include position(absolute, 0, 0, 100%, 100%);
          content: '';
        }

        &:before {
          border-radius: 18px;
          background-color: $color_blueLight;
        }

        &:after {

        }
      }

      p {
        @include block();
        font-size: 16px;
        line-height: 28px;
        color: $color_text_main;
        text-align: center;
      }

      &:nth-child(2n + 0) {
        span:before {
          transform: rotate(15deg);
        }
      }
      &:nth-child(2n + 1) {
        span:before {
          transform: rotate(-15deg);
        }
      }
    }

    &-link {
      span:after {
        @include image('fulfillment-process/link.svg', 30px auto, center);
      }
    }

    &-storage {
      span:after {
        @include image('fulfillment-process/storage.svg', 30px auto, center);
      }
    }

    &-inventory {
      span:after {
        @include image('fulfillment-process/inventory.svg', 30px auto, center);
      }
    }

    &-store {
      span:after {
        @include image('fulfillment-process/store.svg', 30px auto, center);
      }
    }

    &-happy {
      span:after {
        @include image('fulfillment-process/happy.svg', 30px auto, center);
      }
    }
  }
}
