.fulfillmentProcess {
  @include block();
  margin-top: 257px;
  z-index: 1;

  .col {
    &:nth-child(1) {
      flex: none;
      max-width: 300px;
      padding-top: 10px;
    }
    &:nth-child(2) {
      justify-content: space-between;
    }
  }

  &__list {
    @include flex();
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      @include inline_block();
      width: 240px;
      min-height: 220px;
      transition: transform 0.6s, opacity 0.6s;
      transform: translateY(20px);
      opacity: 0;

      &:not(:nth-child(3n + 0)) {
        margin: 0 60px 25px 0;
      }

      b {
        position: absolute;
        width: 0;
        height: 0;
        top: 38px;
        left: 50%;
        margin-left: -53px;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.025em;
        color: $color_text_main;
        z-index: 1;
      }

      span {
        @include block();
        width: 72px;
        height: 72px;
        margin: 0 auto 26px auto;

        &:before, &:after {
          @include position(absolute, 0, 0, 100%, 100%);
          content: '';
        }

        &:before {
          border-radius: 18px;
          background-color: $color_blueLight;
        }
      }

      p {
        @include block();
        width: 250px;
        left: -5px;
        font-size: 16px;
        line-height: 28px;
        color: $color_text_main;
        text-align: center;
      }

      &:nth-child(2n + 0) {
        span:before {
          transform: rotate(15deg);
        }
      }
      &:nth-child(2n + 1) {
        span:before {
          transform: rotate(-15deg);
        }
      }
      &:nth-child(1) {
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        transition-delay: 0.3s;
      }
      &:nth-child(4) {
        transition-delay: 0.4s;
      }
      &:nth-child(5) {
        transition-delay: 0.5s;
      }
    }

    &-link {
      span:after {
        @include image('fulfillment-process/link.svg', 30px auto, center);
      }
    }

    &-storage {
      span:after {
        @include image('fulfillment-process/storage.svg', 30px auto, center);
      }
    }

    &-inventory {
      span:after {
        @include image('fulfillment-process/inventory.svg', 30px auto, center);
      }
    }

    &-store {
      span:after {
        @include image('fulfillment-process/store.svg', 30px auto, center);
      }
    }

    &-happy {
      span:after {
        @include image('fulfillment-process/happy.svg', 30px auto, center);
      }
    }

    &.active li {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__circles {
    position: absolute;
    top: 350px;
    left: 50%;
    width: 403px;
    height: 467px;
    margin-left: -1110px;

    span {
      @include position(absolute, 0, 0, 100%, 100%);

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        transition: transform 0.15s;
      }

      &:nth-child(1) {
        i {
          @include image('fulfillment-process/circles-1.svg', contain, 0 0);
        }
      }
      &:nth-child(2) {
        top: 30px;

        i {
          @include image('fulfillment-process/circles-2.svg', contain, 0 0);
        }
      }
    }
  }
}
