.header {
  @include block();
  background-color: $color_fon;
  z-index: 1;

  .container {
    max-width: 1854px;
    min-height: 108px;

    @include mobile($screen_xl) {
      min-height: 95px;
    }

    @include mobile($screen_md) {
      min-height: 84px;
    }
  }

  .row {
    min-height: inherit;
    align-items: center;

    @include mobile(1550px) {
      flex-wrap: wrap;
      align-items: flex-start;
    }

    @include mobile($screen_md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .col {



    @include mobile($screen_md) {
      display: flex;
    }

    &:nth-child(1) {
      flex: none;

      @include mobile(1550px) {
        width: 50%;
        height: 50px;
        padding-top: 5px;
      }
    }

    &:nth-child(2) {
      flex: 1;
      align-items: center;
      padding-right: 10px;

      @include mobile($screen_xl) {
        padding: 0 20px 0 40px;
      }

      @include mobile(1550px) {
        flex: none;
        align-items: flex-start;
        width: 100%;
        order: 3;
        padding: 0;
      }

      @include mobile($screen_md) {
        display: none;
      }
    }

    &:nth-child(3) {
      flex: none;
      align-items: flex-end;

      @include mobile(1550px) {
        width: 50%;
        height: 50px;
        padding-top: 5px;
      }

      @include mobile($screen_md) {
        flex-direction: row;
        justify-content: flex-end; 
      }
    }
  }

  &__logo {
    @include inline_block();
    @include image('logo.svg', contain, 0 0);
    width: 306px;
    height: 48px;

    @include mobile($screen_xl) {
      width: 240px;
      height: 40px;
      top: 2px;
    }

    @include mobile($screen_lg) {
      width: 48px;
      height: 48px;
      top: auto;
      background-size: auto 100%;
    }
  }

  &__menu {
    @include flex();
    flex-wrap: wrap;

    @include mobile($screen_md) {
      display: none;
    }

    li {
      @include inline_block();
      margin: 0 18px;

      @include mobile($screen_xl) {
        margin: 0 12px;
      }

      @include mobile(1550px) {
        margin: 0 40px 0 0;
      }

      a {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.025em;
        text-decoration: none;
        color: $color_text_main;
        transition: color $time;

        &:hover {
          color: $color_text_blue;
        }
      }

      &.active a {
        color: $color_text_blue;
      }
    }
  }

  &__login {
    @include flex();

    @include mobile($screen_md) {
      display: none;
    }

    li {
      @include inline_block();

      &:not(:first-child) {
        margin-left: 18px;
      } 
    }

    .button span {
      min-width: 140px;
    }
  }

  &__user {
    @include image('user.svg', 30px 30px, center);
    display: none;
    width: 48px;
    height: 48px;
    border-radius: 1000px;
    background-color: $color_blueLight;
    cursor: pointer;

    @include mobile($screen_md) {
      @include flex();
    }
  }

  &__nav {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-left: 18px;
    border-radius: 1000px;
    background-color: $color_blue;
    transition: box-shadow 0.3s;
    box-shadow: 0 10px 25px 0 rgba(47, 130, 255, 0.4);
    cursor: pointer;

    @include mobile($screen_md) {
      @include flex();
    }

    span {
      @include block();
      width: 18px;
      height: 2px;
      margin: 2px 0;
      border-radius: 100px;
      background-color: $color_white;
      transition: transform 0.3s, opacity 0.3s;
    }

    &.active {
      box-shadow: 0 10px 25px 0 rgba(47, 130, 255, 0.8);

      span {
        &:nth-child(1) {
          transform: translate(0px, 6px) rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translate(0px, -6px) rotate(45deg);
        }
      }
    }
  }
}
