.header {
  @include block();
  box-shadow: 0px 12px 24px rgba(197, 228, 243, 0.4);
  z-index: 1;

  .container {
    max-width: 1854px;
    min-height: 108px;

    @include mobile($screen_xl) {
      min-height: 90px;
    }

    @include mobile($screen_sm) {
      min-height: 50px;
    }
  }

  .row {
    min-height: inherit;
    align-items: center;

    @include mobile($screen_md) {
      display: flex;
      justify-content: space-between;
    }
  }

  .col {

    @include mobile($screen_md) {
      display: flex;
    }

    &:nth-child(1) {
      flex: none;
    }
    &:nth-child(2) {
      flex: 1;
      align-items: center;
      padding-right: 10px;

      @include mobile($screen_xl) {
        padding: 0 20px;
      }
      @include mobile($screen_lg) {
        padding: 0 30px 0 60px;
      }
      @include mobile($screen_md) {
        display: none;
      }
    }
    &:nth-child(3) {
      flex: none;
      align-items: flex-end;
    }
  }

  &__logo {
    @include inline_block();
    @include image('logo.svg', contain, 0 0);
    width: 306px;
    height: 48px;

    @include mobile($screen_xl) {
      width: 240px;
      height: 40px;
      top: 2px;
    }

    @include mobile($screen_lg) {
      width: 50px;
      height: 50px;
      top: auto;
      background-size: auto 100%;
    }

    @include mobile($screen_sm) {
      width: 36px;
      height: 36px;
    }
  }

  &__menu {
    @include flex();
    flex-wrap: wrap;

    @include mobile($screen_md) {
      display: none;
    }

    li {
      @include inline_block();
      margin: 0 18px;

      @include mobile($screen_xl) {
        margin: 0 14px;
      }

      a {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.025em;
        text-decoration: none;
        color: $color_text_main;
        transition: color $time;

        &:hover {
          color: $color_text_blue;
        }
      }
    }
  }

  &__login {
    @include flex();

    @include mobile($screen_md) {
      display: none;
    }

    li {
      @include inline_block();

      &:not(:first-child) {
        margin-left: 18px;
      } 
    }

    .button {
      min-width: 140px;
    }
  }
}
