.interNetwork {
  @include block();
  margin-top: 260px;

  .col {
    &:nth-child(1) {
      flex: none;
      max-width: 500px;
      padding-right: 40px;
    }
    &:nth-child(2) {
      flex: 1;
      padding-top: 28px;
    }
  }

  &__map {
    @include block();
    @include image('inter-network-map.svg', contain, 0 0);
    width: 938px;
    height: 580px;
    margin: 40px auto 0 auto;

    &-box {

    }
  }
}
