.integrateTools {
  @include block();
  margin-top: 111px;
  background-color: $color_blueLight_2;

  &__reviews {
    @include block();
    padding-top: 144px;
  }

  &__instruments {
    @include block();
    padding: 236px 0 194px 0;

    .titleBox {
      text-align: center;
    }

    &-button {
      @include flex();
      justify-content: center;
      margin-top: 42px;
      opacity: 0;
      transition: opacity 0.5s;
      transition-delay: 0.5s;

      &.active {
        opacity: 1;
      }
    }
  }

  &__circles {
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;

    span {
      position: absolute;
      border-radius: 1000px;

      &:before {
        @include position(absolute, 0, 0, 100%, 100%);
        border-radius: inherit;
        content: '';
      }
    }

    &--1 {
      top: 1138px;
      margin-left: -788px;

      span {
        @include circle_position(32px, 32px);

        &:before {
          background-color: $color_red;
        }
      }
    }

    &--2 {
      top: 684px;
      margin-left: -603px;

      span {
        @include circle_position(12px, 12px);

        &:before {
          background-color: $color_blue;
        }
      }
    }

    &--3 {
      top: 815px;
      margin-left: -138px;

      span {
        @include circle_position(24px, 24px);

        &:before {
          background-color: $color_yellow;
        }
      }
    }

    &--4 {
      top: 1588px;
      margin-left: -364px;

      span {
        @include circle_position(12px, 12px);

        &:before {
          background-color: $color_cyan;
        }
      }
    }

    &--5 {
      top: 1198px;
      margin-left: 170px;

      span {
        @include circle_position(32px, 32px);

        &:before {
          background-color: $color_violet;
        }
      }
    }

    &--6 {
      top: 582px;
      margin-left: 630px;

      span {
        @include circle_position(32px, 32px);

        &:before {
          background-color: $color_cyan;
        }
      }
    }

    &--7 {
      top: 981px;
      margin-left: 643px;

      span {
        @include circle_position(12px, 12px);

        &:before {
          background-color: $color_blue;
        }
      }
    }

    &--8 {
      top: 1390px;
      margin-left: 828px;

      span {
        @include circle_position(24px, 24px);

        &:before {
          background-color: $color_yellow;
        }
      }
    }
  }
}

.reviews {
  $reviews: &;
  @include flex();
  margin: 0 -30px;

  &__box {
    position: relative;
    flex: 1;
    padding: 0 30px 30px 30px;
    opacity: 0;
    transition: all 0.7s;
    transform: translateY(10px);

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        transition-delay: ($i / 4)#{s};
      }
    }
  }

  &__cont {
    @include block();
    @include image('icon-quotes.svg', 85px auto, right 11px bottom 0);
    background-color: $color_white;
    border-radius: 18px;
    padding: 45px 36px 30px 36px;
    box-shadow: 0px 18px 42px rgba(197, 228, 243, 0.4);
    
    &-text {
      @include block();
      margin-bottom: 33px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: $color_text_main;
    }

    &-name {
      @include block();
      padding: 0 1px;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.025em;
      color: $color_text_blue;
    }

    &-position {
      @include block();
      padding: 0 1px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: $color_text_main;
    }
  }

  &.active {
    #{$reviews}__box {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.instruments {
  $instruments: &;
  @include flex();
  margin: 95px -30px 0 -30px;

  &__box {
    position: relative;
    flex: 1;
    padding: 0 30px 30px 30px;
    opacity: 0;
    transition: all 0.7s;
    transform: translateY(10px);

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        transition-delay: ($i / 4)#{s};
      }
    }
  }

  &__cont {
    $cont: &;
    @include block();
    min-height: 100%;
    background-color: $color_white;
    border-radius: 18px;
    padding: 36px 15px 18px 15px;
    box-shadow: 0px 18px 42px rgba(197, 228, 243, 0.4);

    &-icon {
      @include block();
      width: 72px;
      height: 72px;
      margin: 24px auto;

      &:before, &:after {
        @include position(absolute, 0, 0, 100%, 100%);
        content: '';
      }
      &:before {
        opacity: 0.2;
        border-radius: 18px;
      }
    }

    &-title {
      @include block();
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0.025em;
      text-align: center;
      color: $color_text_main;
    }

    &-logos {
      @include flex();
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 51px;

      li {
        @include inline_block();
        margin: 0 10px 18px 10px;

        img {
          opacity: 0.6;
        }
      }
    }

    &--carts {
      #{$cont}-icon {
        &:before {
          transform: rotate(-15deg);
          background-color: $color_violet;
        }
        &:after { 
          @include image('instruments/carts.svg', 30px auto, center);
        }
      }
    }

    &--marketplaces {
      #{$cont}-icon {
        &:before {
          transform: rotate(15deg);
          background-color: $color_red;
        }
        &:after { 
          @include image('instruments/marketplaces.svg', 30px auto, center);
        }
      }
    }

    &--tools {
      #{$cont}-icon {
        &:before {
          transform: rotate(-15deg);
          background-color: $color_yellow;
        }
        &:after { 
          @include image('instruments/tools.svg', 30px auto, center);
        }
      }
    }
  }

  &.active {
    #{$instruments}__box {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
