.login {
  @include block();
  min-height: 100vh;
  margin-top: -108px;
  z-index: 0;

  @include mobile($screen_xl) {
    margin-top: -95px;
  }

  @include mobile($screen_md) {
    margin-top: 0;
    min-height: auto;
  }

  &:after {
    @include position(absolute, 0, 68px, 100%, 40px);
    box-shadow: 0px 12px 24px rgba(197, 228, 243, 0.4);
    content: '';

    @include mobile($screen_xl) {
      top: 50px;
    }

    @include mobile($screen_md) {
      top: -40px;
    }
  }

  .container {
    max-width: 1854px;
    min-height: inherit;
  }

  .row {
    min-height: inherit;

    @include mobile($screen_md) {
      flex-direction: column;
    }
  }

  .col {
    min-height: inherit;
    z-index: 1;
    flex: none;
    width: 50%;
    padding-top: 108px;

    @include mobile($screen_xl) {
      padding-top: 90px;
    }

    &:nth-child(1) {

      @include mobile($screen_md) {
        display: none;
      }
    }

    &:nth-child(2) {
      padding-left: 130px;

      @include mobile($screen_xl) {
        padding-left: 100px;
      }

      @include mobile($screen_lg) {
        padding-left: 60px;
      }

      @include mobile($screen_md) {
        width: 100%;
        padding: 86px 0 40px 0;
      }
    }
  }

  .titleBox {
    margin-top: 117px;
    margin-bottom: 23px;

    @include mobile($screen_md) {
      margin-top: 0;
      margin-bottom: 25px;
      text-align: center;
    }
  }

  .textBox {
    @include mobile($screen_md) {
      text-align: center;
    }
  }

  &__fon {
    @include position(absolute, 0, 0, 50%, 100%);
    @include image('login-fon.jpg', cover, center);
    z-index: 1;

    @include mobile($screen_md) {
      display: none;
    }
  }

  &__text {
    @include block();
    max-width: 520px;
    margin-top: 132px;

    @include mobile($screen_md) {
      display: none;
    }

    p {
      font-family: 'Raleway', sans-serif;
      font-weight: 800;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0.025em;
      color: $color_text_white;
    }
  }

  &__reviews {
    @include block();
    max-width: 340px;
    margin: auto 0 48px 0;

    @include mobile($screen_md) {
      display: none;
    }

    .reviews__box {
      opacity: 1;
      transition: none;
      transform: translateY(0);
      flex: none;
      padding: 0;
    }
  }

  &__form {
    @include block();
    max-width: 440px;
    margin-top: 66px;
    margin-bottom: 40px;

    @include mobile($screen_md) {
      margin: 30px auto 40px auto;
      width: 100%;
      max-width: 500px;
    }

    &-box {
      @include block();

      &:not(:last-child) {
        margin-bottom: 24px;
      }

      &--button {
        @include flex();
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;

        @include mobile($screen_md) {
          flex-direction: column;

          .button  {
            margin-bottom: 50px;
          }
        }
      }
    }

    &-link {
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.025em;
      color: $color_text_main;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__info {
    @include inline_block();
    margin: auto 0 43px 0;

    @include mobile($screen_md) {
      margin: 45px 0 0 0;
      text-align: center;
    }

    span {
      @include inline_block();
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: $color_text_main;

      a {
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: $color_text_blue;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__circles {
    position: absolute;
    top: 440px;
    left: 50%;
    width: 296px;
    height: 448px;
    margin-left: 810px;

    @include mobile($screen_md) {
      top: -80px;
      left: auto;
      right: -50px;
      width: 130px;
      height: 220px;
      margin-left: 0;
    }

    span {
      @include position(absolute, 0, 0, 100%, 100%);

      @include mobile($screen_md) {
        transform: translate3d(0, 0, 0) !important;
      }

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        transition: transform 0.15s;

        @include mobile($screen_md) {
          transform: translate3d(0, 0, 0) translate(0, 0) !important;
        }
      }

      &:nth-child(1) {
        i {
          @include image('login/circles-1.svg', contain, 0 0);
        }
      }
      &:nth-child(2) {
        top: 20px;
        left: -10px;

        @include mobile($screen_md) {
          top: 0;
          left: 0;
        }

        i {
          @include image('login/circles-2.svg', contain, 0 0);
        }
      }
    }
  }

  &__slider {
    @include block();
    overflow: hidden;
    min-height: 100%;
    margin-left: -30px;

    // @include b();

    &-box {
      @include inline_block();
      min-height: 100%;
      padding-left: 30px;
    }

    &-cont {
      @include flex();
      flex-direction: column;
  
      min-height: 100vh;

     @include b();
    }

    .slick-list {
      min-height: 100%;
    }

    .slick-track {
      position: absolute;
      min-height: 100%;
    }
  }
}
