.mailForwarding {
  @include block();
  background-color: $color_yellow;

  &:after {
    @include position(absolute, 0, -40px, 100%, 40px);
    box-shadow: 0px 12px 24px #F2BF85;
    content: '';
  }

  .row {
    min-height: 872px;
    align-items: center;
  }

  .textBox {

    ul {

      li {
        padding-left: 36px;

        &:before {
          position: absolute;
          top: 7px;
          left: 0;
          width: 12px;
          height: 12px;
          border-radius: 1000px;
          background-color: $color_blue;
          content: '';
        }
      }
    }
  }

  &__img {
    @include block();
    top: 15px;
    left: -187px;
    width: 546px;
    height: 603px;

    span {
      @include position(absolute, 0, 0, 100%, 100%);
      transition: transform 1.1s, opacity 1.3s;

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        transition: transform 0.15s;
      }

      &:nth-child(1) {
        transform: translate(0, 0) scale(0.8) rotate(-15deg);
        transition-delay: 0.5s;
        opacity: 0;

        i {
          @include image('mail-forwarding/element-1.svg', contain, center);
        }
      }
      &:nth-child(2) {
        transform: translate(0, 0) scale(0.8) rotate(20deg);
        transition-delay: 0.45s;
        opacity: 0;

        i {
          @include image('mail-forwarding/element-2.svg', contain, center);
        }
      }
      &:nth-child(3) {
        transform: translate(80px, 80px) scale(0.8);
        transition-delay: 0.4s;
        opacity: 0;

        i {
          @include image('mail-forwarding/element-3.svg', contain, center);
        }
      }
      &:nth-child(4) {
        transform: translate(-80px, 80px) scale(0.8);
        transition-delay: 0.35s;
        opacity: 0;

        i {
          @include image('mail-forwarding/element-4.svg', contain, center);
        }
      }
      &:nth-child(5) {
        transform: translate(-30px, -80px) scale(0.8);
        transition-delay: 0.3s;
        opacity: 0;

        i {
          @include image('mail-forwarding/element-5.svg', contain, center);
        }
      }
      &:nth-child(6) {
        transform: translate(150px, -30px);
        transition-delay: 0.25s;
        opacity: 0;

        i {
          @include image('mail-forwarding/element-6.svg', contain, center);
        }
      }
      &:nth-child(7) {
        transform: translate(0, -50px);
        transition-delay: 0.2s;
        opacity: 0;

        i {
          @include image('mail-forwarding/element-7.svg', contain, center);
        }
      }
      &:nth-child(8) {
        transform: translate(-10px, 100px);
        transition-delay: 0.15s;
        opacity: 0;

        i {
          @include image('mail-forwarding/element-8.svg', contain, center);
        }
      }
      &:nth-child(9) {
        transform: translate(70px, 0) scale(0.8);
        transition-delay: 0.1s;
        opacity: 0;

        i {
          @include image('mail-forwarding/element-9.svg', contain, center);
        }
      }
    }

    &.active {
      span {
        transform: translate(0, 0) scale(1) rotate(0deg);
        opacity: 1;
      }
    }
  }
}
