* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  outline: none;
  -webkit-appearance: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1;
}

body {
  background-color: $color_fon; 
}

html, body {
  height: 100%;
  min-width: $width_min;
}

/* Common Tags ------------------------------------------*/
img {
  @include inline_block();
  border: none; 
}

h1, h2, h3, h4, h5, h6 {
  @include block();
  color: $color_text_main;
}

h1 {
  font-size: 72px;
  line-height: 78px;

  @include mobile($screen_lg) {
    font-size: 52px;
    line-height: 58px;
  }

  @include mobile($screen_sm) {
    font-size: 38px;
    line-height: 44px;
  }
}

h2 {
  font-size: 48px;
  line-height: 60px;

  @include mobile($screen_lg) {
    font-size: 38px;
    line-height: 50px;
  }

  @include mobile($screen_sm) {
    font-size: 28px;
    line-height: 34px;
  }
}

h3 {
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.025em;

  @include mobile($screen_lg) {
    font-size: 28px;
    line-height: 32px;
  }

  @include mobile($screen_sm) {
    font-size: 22px;
    line-height: 28px;
  }
}

h4 {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.025em;
}

h5 {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.025em;
}

h6 {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.025em;
}

p {
  @include block();
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $color_text_main;

  @include mobile($screen_sm) {
    font-size: 14px;
    line-height: 26px;
  }
}

a, span, b {
  @include inline_block();
}

a, input, textarea, select, button {
  outline: none !important;
}

/* Common Elements --------------------------------------*/
.loader {
  @include position(fixed, 0, 0, 100%, 100%);
  @include image('loader.gif', 222px auto, center);
  background-color: $color_fon;
  z-index: 10000;
}

.total-container {
  @include block();
  overflow: hidden;
}

.row {
  @include flex();
  flex: 1;

  @include mobile($screen_md) {
    display: block;
  }
}

.col {
  @include flex();
  flex-direction: column;
  flex: 1;

  @include mobile($screen_md) {
    display: block;
  }
}

.container {
  @include block();
  max-width: $width_max;
  margin: 0 auto;
  padding-left: $padding_sides;
  padding-right: $padding_sides;
}

.titleBox {
  @include block();

  h1, h2 {

    @include mobile($screen_md) {
      text-align: center;
    }

    @include mobile($screen_sm) {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.textBox {
  @include block();

  h1, h2 {
    margin-bottom: 49px;

    @include mobile($screen_md) {
      text-align: center;
      margin-bottom: 36px;
    }

    @include mobile($screen_sm) {
      margin-bottom: 28px;
    }
  }

  p {
    margin-bottom: 22px;

    @include mobile($screen_sm) {
      margin-bottom: 18px;
    }
  }

  span {
    @include inline();
    font-size: inherit;
    line-height: inherit;
  }

  .colorBlue {
    color: $color_blue;
  }
}

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  height: 48px;
  padding: 0 20px;
  background-color: $color_blue;
  border: none;
  border-radius: 1000px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.025em;
  text-decoration: none;
  color: $color_text_white;
  cursor: pointer;
  user-select: none; 
  box-shadow: 0 14px 18px -2px rgba(47, 130, 255, 0.4);
  transition: box-shadow 0.4s;

  &--blueLight {
    background-color: $color_blueLight;
    color: $color_text_main;
    box-shadow: none !important;
  }

  &--big {
    height: 60px;
    font-size: 18px;
    line-height: 24px;
  }

  &:hover {
    box-shadow: 0 15px 20px 0 rgba(47, 130, 255, 0.6);
  }
}

.button-play {
  @include image('icon-play.svg', 33px auto, left 42px center);
  position: relative;
  width: 108px;
  height: 108px;
  border: none;
  border-radius: 1000px;
  background-color: $color_blue;
  cursor: pointer;
  box-shadow: 0 14px 18px -2px rgba(47, 130, 255, 0.4);
  transition: transform 0.4s, box-shadow 0.4s;

  @include mobile($screen_lg) {
    width: 80px;
    height: 80px;
    background-size: 25px auto;
    background-position: left 31px center;
  }

  @include mobile($screen_md) {
    width: 60px;
    height: 60px;
    background-size: 16px auto;
    background-position: left 24px center;
  }

  &:hover {
    box-shadow: 0 15px 20px 0 rgba(47, 130, 255, 0.75);
    transform: scale(1.06);
  }
}

.paymentSystems {
  @include block();
  cursor: pointer;
  text-decoration: none;

  &--visa {
    @include image('payment-systems/Visa.svg', contain, 0 0);
    width: 30px;
    height: 21px;
  }
  
  &--mc {
    @include image('payment-systems/MC.svg', contain, 0 0);
    width: 30px;
    height: 21px;
  }

  &--bitcoin {
    @include image('payment-systems/Bitcoin.svg', contain, 0 0);
    width: 30px;
    height: 30px;
  }

  &--paypal {
    @include image('payment-systems/Paypal.svg', contain, 0 0);
    width: 29px;
    height: 30px;
  }
}
