@mixin block() {
  position: relative;
  display: block;
}

@mixin inline_block() {
  position: relative;
  display: inline-block;
}

@mixin inline() {
  position: relative;
  display: inline;
}

@mixin flex() {
  position: relative;
  display: flex;
}

@mixin position($pos: absolute, $left: 0, $top: 0, $width: auto, $height: auto) {
  position: $pos;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

@mixin image($image, $cover: cover, $pos: top, $repeat: no-repeat) {
  background-image: url(#{$path_img}#{$image});
  background-position: $pos;
  background-repeat: $repeat;
  background-size: $cover;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin map_button_x($x) {
  $width: 938;
  left: ($x  / ($width / 100))#{'%'};
}

@mixin map_button_y($y) {
  $height: 580;
  top: ($y  / ($height / 100))#{'%'};
}

@mixin circle_position($w, $h) {
  width: $w;
  height: $h;
  left: -($w / 2);
  top: -($h / 2);
}

@mixin mobile($x) {
  @media (max-width: $x) { 
    @content;
  }
}

@mixin desktop($x) {
  @media (min-width: $x) { 
    @content;
  }
}

@mixin b($col: #f00) {
  border: 1px solid $col;
}
