.positiveFinancial {
  @include block();
  margin-top: 265px;

  @include mobile($screen_lg) {
    margin-top: 230px;
  }

  @include mobile($screen_md) {
    margin-top: 150px;
  }

  .row {
    @include mobile($screen_md) {
      flex-direction: column;
    }
  }

  .col {
    width: 50%;
    flex: none;

    @include mobile($screen_md) {
      width: 100%;
    }

    &:nth-child(2) {
      align-items: flex-end;

      @include mobile($screen_md) {
        align-items: center;
      }
    }
  }

  .titleBox {

    @include mobile($screen_lg) {
      padding-right: 50px;
    }

    @include mobile($screen_md) {
      padding-right: 0;
    }
  }

  &__list {
    @include flex();
    flex-wrap: wrap;
    min-width: 900px;
    margin-top: 23px;

    @include mobile($screen_md) {
      display: block;
      min-width: 0;
      margin-top: 60px;
    }

    li {
      position: relative;
      width: 240px;
      min-height: 198px;
      text-align: center;
      margin: 0 0 20px 60px;

      @include desktop($screen_md) {
        transition: transform 0.7s, opacity 0.7s;
        transform: translateY(20px);
        opacity: 0;
      }

      @include mobile($screen_md) {
        min-height: auto;
        margin: 0 0 50px 0;
      }

      span {
        @include block();
        width: 72px;
        height: 72px;
        margin: 0 auto 26px auto;
  
        &:before, &:after {
          @include position(absolute, 0, 0, 100%, 100%);
          content: '';
        }
  
        &:before {
          border-radius: 18px;
          background-color: $color_violet;
          opacity: 0.2;
        }
      }

      &:nth-child(2n + 0) {
        span:before {
          transform: rotate(-15deg);
        }
      }
      &:nth-child(2n + 1) {
        span:before {
          transform: rotate(15deg);
        }
      }

      &:nth-child(1) {
        @include mobile($screen_md) {
          display: none;
        }
      }
      &:nth-child(2) {
        @include desktop($screen_md) {
          transition-delay: 0.1s;
        }
      }
      &:nth-child(3) {
        @include desktop($screen_md) {
          transition-delay: 0.25s;
        }
      }
      &:nth-child(4) {
        @include mobile($screen_md) {
          display: none;
        }
      }
      &:nth-child(5) {
        @include desktop($screen_md) {
          transition-delay: 0.4s;
        }
      }
      &:nth-child(6) {
        @include desktop($screen_md) {
          transition-delay: 0.55s;
        }
      }
      &:nth-child(7) {
        @include desktop($screen_md) {
          transition-delay: 0.7s;
        }
      }
      &:nth-child(8) {
        @include desktop($screen_md) {
          transition-delay: 0.85s;
        }
      }
      &:nth-child(9) {
        @include desktop($screen_md) {
          transition-delay: 1s;
        }
      }
    }

    &-expand {
      span:after {
        @include image('positive-financial/expand.svg', 30px auto, center);
      }
    }

    &-statistic {
      span:after {
        @include image('positive-financial/statistic.svg', 30px auto, center);
      }
    }

    &-flash {
      span:after {
        @include image('positive-financial/flash.svg', 30px auto, center);
      }
    }

    &-pack {
      span:after {
        @include image('positive-financial/pack.svg', 30px auto, center);
      }
    }

    &-lowPercent {
      span:after {
        @include image('positive-financial/low-percent.svg', 30px auto, center);
      }
    }

    &-categorize {
      span:after {
        @include image('positive-financial/categorize.svg', 30px auto, center);
      }
    }

    &-checkAddress {
      span:after {
        @include image('positive-financial/check-address.svg', 30px auto, center);
      }
    }

    &.active li {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__circles {
    position: absolute;
    top: 350px;
    left: 50%;
    width: 243px;
    height: 423px;
    margin-left: -1320px;

    @include mobile($screen_md) {
      top: 460px;
      left: -60px;
      width: 160px;
      height: 220px;
      margin-left: 0;
    }

    span {
      @include position(absolute, 0, 0, 100%, 100%);

      @include mobile($screen_md) {
        transform: translate3d(0, 0, 0) !important;
      }

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        transition: transform 0.15s;

        @include mobile($screen_md) {
          transform: translate3d(0, 0, 0) translate(0, 0) !important;
        }
      }

      &:nth-child(1) {
        i {
          @include image('positive-financial/circles-1.svg', contain, 0 0);
        }
      }
      &:nth-child(2) {
        top: 70px;

        @include mobile($screen_md) {
          top: 0;
        }

        i {
          @include image('positive-financial/circles-2.svg', contain, 0 0);
        }
      }
    }
  }
}
