.rates {
  @include block();
  margin-top: 70px;

  .titleBox {
    h2 {
      text-align: center;
    }
  }

  &__fon {
    @include position(absolute, 0, 0, 100%, 100%);
    background-color: $color_blueLight_2;
  }

  &__block {
    @include block();

    .container {
      padding-top: 121px;
    }
  }

  &__cont {
    @include block();
    box-shadow: 0px 18px 42px rgba(197, 228, 243, 0.4);
    margin-top: 97px;
    border-radius: 18px;
    background-color: $color_white;
  }

  &__box {
    @include flex();
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    padding: 35px;
    transition: opacity 0.6s;
    transition-delay: 0.35s;
    opacity: 0;

    &:not(:last-child) {
      border-bottom: 2px solid $color_blueLight;
    }

    &-text {
      @include block();
      padding: 0 80px 7px 0;

      h4 {
        margin-bottom: 10px;
      }
    }

    &-price {
      @include flex();
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 134px;
      height: 134px;
      padding: 10px;

      &:before {
        @include position(absolute, 0, 0, 100%, 100%);
        background-color: $color_yellow;
        border-radius: 18px;
        opacity: 0.2;
        content: '';
      }

      b {
        @include block();
        font-size: 30px;
        line-height: 42px;
        letter-spacing: 0.025em;
        color: $color_text_main;
        text-align: center;
      }

      span {
        @include block();
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: $color_text_main;
        text-align: center;
      }

      &--request {
        &:before {
          background-color: $color_blueLight_2;
          opacity: 1;
        }

        span {
          font-family: 'Raleway', sans-serif;
          font-weight: 800;
          font-size: 14px;
          line-height: 28px;
          letter-spacing: 0.025em;
        }
      }
    }

    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__circles {
    position: absolute;
    top: 515px;
    left: 50%;
    width: 192px;
    height: 318px;
    margin-left: -1050px;

    @include mobile($screen_xl) {
      margin-left: -880px;
    }

    @include mobile($screen_lg) {
      display: none;
    }

    span {
      @include position(absolute, 0, 0, 100%, 100%);

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        transition: transform 0.15s;
      }

      &:nth-child(1) {
        i {
          @include image('rates/circles-1.svg', contain, 0 0);
        }
      }
      &:nth-child(2) {
        top: 20px;
        left: -10px;

        i {
          @include image('rates/circles-2.svg', contain, 0 0);
        }
      }
    }
  }
}
