.select {
  $select: &;
  @include block();
  width: 100%;
  height: 60px;
  cursor: pointer;

  select {
    display: none;
  }

  .jq-selectbox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    &__select {
      @include flex();
      height: 100%;
      align-items: center;
      border-radius: 1000px;
      background-color: $color_white;
      border: 2px solid $color_blueLight;
      transition: background-color 0.2s;

      &-text {
        position: relative;
        width: 100%;
        padding: 0 65px 0 18px;
        font-size: 16px;
        line-height: 28px;
        color: $color_text_main;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__trigger {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      right: 5px;
      min-width: 48px;
      height: 48px;
      margin-top: -24px;
      background-color: $color_blue;
      border-radius: 1000px;
      box-shadow: 0 14px 18px -2px rgba(47, 130, 255, 0.4);
      transition: box-shadow 0.2s;

      &-arrow {
        @include image('icon-arrow-white.svg', contain, center);
        position: relative;
        width: 10px;
        height: 17px;
        transform: rotate(90deg);
        transition: transform 0.3s;
      }
    }

    &__dropdown {
      position: absolute;
      overflow: hidden;
      width: 100%;
      background-color: $color_white;
      border: 2px solid $color_blueLight;
      border-radius: 30px;

      &--top {
        top: auto!important;
        bottom: 66px!important;
      }
      &--bottom {
        top: 66px!important;
        bottom: auto!important;
      }

      ul {
        @include block();
        overflow: auto;
        max-height: 200px;

        li {
          @include flex();
          align-items: center;
          height: 60px;
          padding: 5px 18px;
          font-family: 'Raleway', sans-serif;
          font-weight: 800;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.025em;
          color: $color_text_main;
          cursor: pointer;
          transition: background-color 0.2s;
          
          &:hover {
            background-color: $color_blueLight_2;
          }
          &.selected {
            background-color: $color_blueLight_2;
          }
          &.sel {
            background-color: $color_blueLight_2;
          }
        }
      }
    }

    &.opened {
      z-index: 10!important;

      .jq-selectbox__select {
        background-color: $color_blueLight_2;
      }
      .jq-selectbox__trigger {
        box-shadow: 0 15px 20px 0 rgba(47, 130, 255, 0.5);
      }
      .jq-selectbox__trigger-arrow {
        transform: rotate(270deg);
      }
    }
  }
}
