.serviceDream {
  @include block();
  margin-top: 260px;

  @include mobile($screen_lg) {
    margin-top: 150px;
  }

  @include mobile($screen_md) {
    margin-top: 120px;
  }

  .row {
    @include mobile($screen_md) {
      flex-direction: column;
    }

    &:nth-child(1) {

      .col {
        flex: none;
        width: 50%;

        &:nth-child(2) {
          padding: 17px 0 0 30px;

          @include mobile($screen_md) {
            padding: 50px 0 0 0;
          }
        }

        @include mobile($screen_md) {
          width: 100%;
        }
      }
    }

    &:nth-child(2) {
      margin-top: 100px;

      @include mobile($screen_md) {
        margin-top: 0;
      }

      .col {
        flex: none;
        
        &:nth-child(1) {
          width: 70%;
          padding: 7px 40px 0 0;

          @include mobile($screen_md) {
            width: 100%;
            padding: 0;
          }
        }

        &:nth-child(2) {
          width: 30%;
          padding-left: 2px;

          @include mobile($screen_md) {
            width: 100%;
            padding-left: 0;
          }
        }
      }
    }
  }

  .textBox {
    h4 {
      margin-bottom: 44px;

      @include mobile($screen_md) {
        margin-bottom: 40px;
      }
    }

    @include desktop($screen_sm) {
      .colorBlue {
        transition: color 1s;
        color: $color_text_main;
      }
  
      &.active {
        .colorBlue {
          color: $color_text_blue;
        }
      }
    }

    @include mobile($screen_md) {
      .colorBlue {
        color: $color_text_blue;
      }
    }
  }

  &__image {
    @include block();
    width: 458px;
    height: 461px;
    margin-top: 35px;

    @include mobile($screen_md) {
      margin: 0 auto;
    }

    @include mobile($screen_sm) {
      width: 320px;
      height: 340px;
    }
  }

  &__img {
    @include image('service-dream/element-1.svg', contain, 0 0);
    @include position(absolute, 0, 0, 100%, 100%);
    
    span {
      @include position(absolute, 0, 0, 100%, 100%);
      transition: all 1s;

      &:before {
        @include position(absolute, 0, 0, 100%, 100%);
        content: '';
      }

      &:nth-child(1) {
        &:before {
          @include image('service-dream/element-2.svg', contain, 0 0);
        }
      }
      &:nth-child(2) {
        &:before {
          @include image('service-dream/element-3.svg', contain, 0 0);
        }
      }

      @include desktop($screen_md) {
        &:nth-child(1) {
          transform: translate(0, 70px) scale(0.7);
          transition-delay: 0.2s;
          opacity: 0;
        }
        &:nth-child(2) {
          transform: translate(0, 70px) scale(0.7);
          transition-delay: 0s;
          opacity: 0;
        }
      }
    }

    @include desktop($screen_md) {
      &.active span {
        transform: translate(0, 0) scale(1);
        opacity: 1;

        &:nth-child(2):before {
          animation: 2.2s ease-in-out infinite internationalShipping;
        }
      }
    }
  }

  &__circles {
    position: absolute;
    width: 0;
    height: 0;

    @include mobile($screen_md) {
      z-index: 1;
    }

    span {
      position: absolute;

      @include mobile($screen_md) {
        transform: translate3d(0, 0, 0) !important;
      }

      i {
        @include position(absolute, 0, 0, 100%, 100%);
        border-radius: 1000px;
        transition: transform 0.15s;

        @include mobile($screen_md) {
          transform: translate3d(0, 0, 0) translate(0, 0) !important;
        }
      }
    }

    &--1 {
      top: 20px;
      right: 250px;

      @include mobile($screen_md) {
        top: -40px;
        right: 200px;
      }

      span {
        @include circle_position(16px, 16px);

        i {
          background-color: $color_blue;
        }
      }
    }

    &--2 {
      top: 30px;
      right: 180px;

      @include mobile($screen_md) {
        top: 50px;
        right: 80px;
      }

      span {
        @include circle_position(32px, 32px);

        i {
          background-color: $color_yellow;
        }
      }
    }

    &--3 {
      bottom: 60px;
      left: -100px;

      @include mobile($screen_md) {
        bottom: 10px;
        left: 5px;
      }

      span {
        @include circle_position(48px, 48px);

        i {
          background-color: $color_blueLight_2;
        }
      }
    }
  }
}
