.shoppingOnline {
  $online: &;
  @include block();

  .container {
    padding-top: 122px;
  }

  .titleBox {
    max-width: 740px;
    margin: 0 auto;
    text-align: center;
  }

  &__cont {
    @include flex();
    margin: 95px -30px 0 -30px;

    &.active {
      #{$online}__box {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__box {
    @include block();
    width: 25%;
    padding: 0 30px;
    text-align: center;
    transition: transform 0.6s, opacity 0.6s;
    transform: translateY(20px);
    opacity: 0;

    &:before {
      @include block();
      width: 144px;
      height: 144px;
      margin: 0 auto 24px auto;
      content: '';
    }

    h4 {
      margin-bottom: 10px;
    }

    &--lowestRates {
      &:before {
        @include image('shopping-online/lowest-rates.svg', contain, center);
      }
    }

    &--consolidating {
      &:before {
        @include image('shopping-online/consolidating.svg', contain, center);
      }
    }

    &--bestDiscount {
      &:before {
        @include image('shopping-online/best-discount.svg', contain, center);
      }
    }

    &--taxSales {
      &:before {
        @include image('shopping-online/tax-sales.svg', contain, center);
      }
    }

    &:nth-child(1) {
      transition-delay: 0.1s;
    }
    &:nth-child(2) {
      transition-delay: 0.3s;
    }
    &:nth-child(3) {
      transition-delay: 0.5s;
    }
    &:nth-child(4) {
      transition-delay: 0.7s;
    }
  }
}
