.shoppingAmerican {
  @include block();
  margin-top: 197px;

  @include mobile($screen_lg) {
    margin-top: 150px;
  }

  @include mobile($screen_md) {
    margin-top: 96px;
  }

  .row {
    @include mobile($screen_md) {
      flex-direction: column;
      min-height: auto;
    }
  }

  .col {
    @include mobile($screen_md) {
      width: 100%;
      flex: none;
    }
  }

  .textBox {
    padding: 80px 20px 0 0;

    @include mobile($screen_md) {
      padding: 0;
    }
  }

  &__img {
    @include block();
    width: 433px;
    height: 350px;
    margin-left: 140px;

    @include mobile($screen_md) {
      margin: 60px auto 0 auto;
    }

    @include mobile($screen_sm) {
      width: 325px;
      height: 263px;
      margin: 30px auto 0 auto;
    }

    span {
      position: absolute;

      @include desktop($screen_md) {
        transition: opacity 0.8s;
        opacity: 0;
      }

      i {
        @include position(absolute, 0, 0, 100%, 100%);
      }

      &:nth-child(1) {
        width: 168px;
        height: 168px;
        top: 6px;
        left: -42px;

        @include desktop($screen_md) {
          transition-delay: 0.1s;
        }

        @include mobile($screen_sm) {
          width: 120px;
          height: 120px;
          top: 15px;
          left: -20px;
        }

        i {
          @include image('shopping-american/walmart.svg', contain, center);
        }
      }
      &:nth-child(2) {
        width: 192px;
        height: 192px;
        top: 36px;
        left: 90px;

        @include desktop($screen_md) {
          transition-delay: 0.5s;
        }

        @include mobile($screen_sm) {
          width: 120px;
          height: 120px;
          top: 35px;
          left: 80px;
        }

        i {
          @include image('shopping-american/ebay.svg', contain, center);
        }
      }
      &:nth-child(3) {
        width: 288px;
        height: 288px;
        top: -54px;
        right: -72px;

        @include desktop($screen_md) {
          transition-delay: 0.3s;
        }

        @include mobile($screen_sm) {
          width: 200px;
          height: 200px;
          top: -20px;
          right: -20px;
        }
        
        i {
          @include image('shopping-american/amazon.svg', contain, center);
        }
      }
      &:nth-child(4) {
        width: 288px;
        height: 288px;
        bottom: -90px;
        left: -42px;

        @include desktop($screen_md) {
          transition-delay: 0.4s;
        }

        @include mobile($screen_sm) {
          width: 200px;
          height: 200px;
          bottom: -60px;
          left: -20px;
        }

        i {
          @include image('shopping-american/best-buy.svg', contain, center);
        }
      }
      &:nth-child(5) {
        width: 192px;
        height: 192px;
        bottom: -30px;
        right: 43px;

        @include desktop($screen_md) {
          transition-delay: 0.2s;
        }

        @include mobile($screen_sm) {
          width: 130px;
          height: 130px;
          bottom: -15px;
          right: 30px;
        }

        i {
          @include image('shopping-american/group.svg', contain, center);
        }
      }
    }

    @include desktop($screen_md) {
      &.active {
        span {
          opacity: 1;
        }
      }
    }
  }
}
