.simpleProcess {
  @include block();
  margin-top: 122px;
  margin-bottom: 184px;

  @include mobile($screen_md) {
    margin-top: 92px;
    margin-bottom: 150px;
  }

  .row {
    @include mobile($screen_md) {
      flex-direction: column;
    }
  }

  .col {
    @include mobile($screen_md) {
      width: 100%;
      flex: none;
    }

    &:nth-child(1) {
      max-width: 300px;
      flex: auto;

      @include mobile($screen_md) {
        max-width: none;
      }
    }
  }

  .textBox {
    padding-top: 28px;

    @include mobile($screen_lg) {
      padding: 14px 0 0 60px;
    }

    @include mobile($screen_md) {
      padding: 50px 0 0 0;
    }
  }

  &__slider {
    @include block();
    margin-top: 112px;

    @include mobile($screen_md) {
      margin-top: 75px;
    }
  }
}
