.trackPurchases {
  @include block();
  margin-top: 150px;

  .row {
    @include mobile($screen_md) {
      flex-direction: column;
    }
  }

  .col {

    @include mobile($screen_md) {
      width: 100%;
      flex: none;
    }

    &:nth-child(2) {
      padding: 62px 0 0 59px;

      @include mobile($screen_md) {
        padding: 0;
      }

      .titleBox {
        @include mobile($screen_md) {
          display: none;
        }
      }
    }
  }

  &-titleBox {
    position: relative;
    display: none;
    text-align: center;
    margin-bottom: 50px;

    @include mobile($screen_md) {
      display: block;
    }
  }
  
  &__phone {
    @include block();
    width: 405px;
    height: 546px;
    margin-left: 100px;
    user-select: none;

    @include mobile($screen_md) {
      margin: 0 auto;
    }

    @include mobile($screen_sm) {
      margin: 0 0 0 20px;
    }

    &-slider {
      @include block();
      width: 100%;
      height: 100%;
      z-index: 0;

      .slick-arrow {
        position: absolute;
        left: -100px;
        width: 48px;
        height: 48px;
        border-radius: 1000px;
        background-color: $color_blueLight;
        border: none;
        color: transparent;
        cursor: pointer;
        z-index: 1000;
        transition: background-color 0.3s, box-shadow 0.3s;

        @include mobile($screen_sm) {
          left: -20px;
        }

        &:before {
          @include position(absolute, 0, 0, 100%, 100%);
          content: '';
        }

        &:hover {
          box-shadow: 0 14px 18px -2px rgba(47, 130, 255, 0.4);
          background-color: $color_blue;
        }
      }

      .slick-prev {
        top: 70px;

        &:before {
          @include image('icon-arrow-white.svg', 10px auto, 20px center);
          transform: rotate(-90deg);
        }
      }

      .slick-next {
        top: 140px;

        &:before {
          @include image('icon-arrow-white.svg', 10px auto, 20px center);
          transform: rotate(90deg);
        }
      }

      &-box {
        @include inline_block();

        > img {
          @include inline_block();
        }
      }
    }

    &-icon {
      $icon: &;
      position: absolute;
      transition: all 0.8s;
      opacity: 0;

      span {
        @include position(absolute, 0, 0, 100%, 100%);

        i {
          @include position(absolute, 0, 0, 100%, 100%);
          transition: transform 0.15s;

          @include mobile($screen_md) {
            transform: translate3d(0, 0, 0) translate(0, 0) !important;
          }
        }
      }

      &--messages {
        width: 168px;
        height: 168px;
        top: 50px;
        right: 30px;
        transform: translate(-80px, 0);

        span i {
          @include image('track-purchases/messages.svg', contain, 0 0);
        }
      }

      &--notifications {
        width: 192px;
        height: 192px;
        bottom: 45px;
        left: -10px;
        transform: translate(80px, 0);

        span i {
          @include image('track-purchases/notifications.svg', contain, 0 0);
        }
      }

      &--photo {
        width: 192px;
        height: 192px;
        top: 190px;
        right: 7px;
        transform: translate(-80px, 0);

        span i {
          @include image('track-purchases/photo.svg', contain, 0 0);
        }
      }

      &--add {
        width: 126px;
        height: 133px;
        bottom: 45px;
        left: -12px;
        transform: translate(80px, 0);

        span i {
          @include image('track-purchases/add.svg', contain, 0 0);
        }
      }

      &--questions {
        width: 126px;
        height: 133px;
        top: 65px;
        right: 50px;
        transform: translate(-80px, 0);

        span i {
          @include image('track-purchases/questions.svg', contain, 0 0);
        }
      }

      &--chat {
        width: 316px;
        height: 252px;
        bottom: 73px;
        left: -80px;
        transform: translate(80px, 0);

        span i {
          @include image('track-purchases/chat.svg', contain, 0 0);
        }
      }

      &.open {
        transform: translate(0, 0);
        opacity: 1;
      }

      &.close {
        opacity: 0;
      }
    }
  }

  &__list {
    @include block();
    margin-top: 52px;
    min-height: 170px;

    @include mobile($screen_md) {
      margin-top: 20px;
    }

    &-button {
      @include block();
      top: 10px;
      left: 0;
      width: 36px;

      li {
        @include block();
        height: 12px;

        &:not(:last-child) {
          margin-bottom: 25px;
        } 

        span { 
          position: absolute;
          width: 100%;
          height: 100%;
          right: 0;
          border-radius: 100px;
          background-color: $color_yellow;
          cursor: pointer;
          transition: all 0.3s;
        }

        &.active {
          span {
            transform: translateY(-4px);
            width: 18px;
            height: 18px;
            cursor: auto;
          }
        }
      }
    }

    &-cont {
      position: absolute;
      top: 0;
      left: 100px;
      right: 0;

      @include mobile($screen_md) {
        left: 75px;
      }
    }

    &-box {
      @include block();
      height: 39px;
      opacity: 0;
      transition: opacity 0.3s;

      &.active {
        opacity: 1;
      }
    }
  }

  &__button {
    @include block();
    margin-top: 35px;

    @include mobile($screen_md) {
      margin-top: 3px;
    }
  }
}
