$path_img: '../images/';

$time: 0.2s;
$padding_sides: 15px;

$color_fon: #fff; 
$color_white: #fff;
$color_blue: #2F58FF;
$color_blueLight: #E8F4FA;

$color_text_main: #171A21;
$color_text_white: #fff;
$color_text_violet: #98A2F4;

$width_max: 1375px;
$width_min: 280px;

$screen_lg:   1280px;
$screen_lgs:  1100px;
$screen_md:   980px;
$screen_sm:   768px;
$screen_xs:   500px;
