<footer class="footer">
   
  <div class="container">

    <div class="row">

      <div class="col">

        <a class="footer__logo" href="index.html"></a>
        <span class="footer__copyright">© Copyright 2020 Alliance Courier Service.</span>

      </div>

      <div class="col">

        <ul class="footer__menu">
          <li @@if (menuIndex === 1) {class="active"}><a href="#">About Us</a></li>
          <li @@if (menuIndex === 2) {class="active"}><a href="#">Order Fulfillment</a></li>
          <li @@if (menuIndex === 3) {class="active"}><a href="#">Mail Forwarding</a></li>
          <li @@if (menuIndex === 4) {class="active"}><a href="#">Dropshipping</a></li>
          <li @@if (menuIndex === 5) {class="active"}><a href="#">Amazon Returns</a></li>
          <li @@if (menuIndex === 6) {class="active"}><a href="#">Amazon Preparation Services</a></li>
          <li @@if (menuIndex === 7) {class="active"}><a href="#">Contact Us</a></li>
        </ul>

      </div>

      <div class="col">

        <ul class="footer__paymentSystems">
          <li><a class="paymentSystems paymentSystems--visa" href="#"></a></li>
          <li><a class="paymentSystems paymentSystems--mc" href="#"></a></li>
          <li><a class="paymentSystems paymentSystems--bitcoin" href="#"></a></li>
          <li><a class="paymentSystems paymentSystems--paypal" href="#"></a></li>
        </ul>

        <ul class="footer__terms">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>

      </div>
      
    </div>

  </div>

</footer>
