<header class="header"> 

  <div class="container">
  
    <div class="row"> 

      <div class="col"> 

        <a class="header__logo" href="index.html"></a>

      </div>

      <div class="col"> 

        <ul class="header__menu">
          <li @@if (menuIndex === 1) {class="active"}><a href="about-us.html">About Us</a></li>
          <li @@if (menuIndex === 2) {class="active"}><a href="order-fulfillment.html">Order Fulfillment</a></li>
          <li @@if (menuIndex === 3) {class="active"}><a href="mail-forwarding.html">Mail Forwarding</a></li>
          <li @@if (menuIndex === 4) {class="active"}><a href="dropshipping.html">Dropshipping</a></li>
          <li @@if (menuIndex === 5) {class="active"}><a href="amazon-returns.html">Amazon Returns</a></li>
          <li @@if (menuIndex === 6) {class="active"}><a href="amazon-preparation-services.html">Amazon Preparation Services</a></li>
          <li @@if (menuIndex === 7) {class="active"}><a href="contact-us.html">Contact Us</a></li>
        </ul>

      </div>

      <div class="col"> 

        <ul class="header__login">
         
          @@if (menuIndex === 0) {
            <li><a class="button button--blueLight buttonCircles" href="login.html"><span>Login</span></a></li>
            <li><a class="button buttonCircles" href="get-started.html"><span>Get Started</span></a></li>
          }
          @@if (menuIndex === 1) {
            <li><a class="button button--blueLight buttonCircles buttonCircles" href="login.html"><span>Login</span></a></li>
            <li><a class="button buttonCircles buttonCircles--blueLight" href="get-started.html"><span>Get Started</span></a></li>
          }
          @@if (menuIndex === 2) {
            <li><a class="button button--blueLight buttonCircles buttonCircles" href="login.html"><span>Login</span></a></li>
            <li><a class="button buttonCircles buttonCircles--blueLight" href="get-started.html"><span>Get Started</span></a></li>
          }
          @@if (menuIndex === 3) {
            <li><a class="button button--blueLight buttonCircles buttonCircles--yellow" href="login.html"><span>Login</span></a></li>
            <li><a class="button buttonCircles buttonCircles--yellow" href="get-started.html"><span>Get Started</span></a></li>
          }
          @@if (menuIndex === 4) {
            <li><a class="button button--blueLight buttonCircles buttonCircles--violet" href="login.html"><span>Login</span></a></li>
            <li><a class="button buttonCircles buttonCircles--violet" href="get-started.html"><span>Get Started</span></a></li>
          }
          @@if (menuIndex === 5) {
            <li><a class="button button--blueLight buttonCircles buttonCircles--cyan" href="login.html"><span>Login</span></a></li>
            <li><a class="button buttonCircles buttonCircles--cyan" href="get-started.html"><span>Get Started</span></a></li>
          }
          @@if (menuIndex === 6) {
            <li><a class="button button--blueLight buttonCircles buttonCircles--red" href="login.html"><span>Login</span></a></li>
            <li><a class="button buttonCircles buttonCircles--red" href="get-started.html"><span>Get Started</span></a></li>
          }
          @@if (menuIndex === 7) {
            <li><a class="button button--blueLight buttonCircles" href="login.html"><span>Login</span></a></li>
            <li><a class="button buttonCircles" href="get-started.html"><span>Get Started</span></a></li>
          }

        </ul>

        <a class="header__user" href="#"></a>

        <div class="header__nav">
          <span></span>
          <span></span>
          <span></span>
        </div>

      </div>
        
    </div>
    
  </div>

</header>
